<ion-view view-title="此页面不存在">

  <ion-nav-title>
    <div class="row row-no-padding">
      <div class="col col-20" ng-click="doBack()">
        <span class="icon ion-chevron-left m-common-back"></span>
      </div>
      <!-- view title -->
      <div class="col col-20 col-offset-20">
        页面不存在
      </div>
      <!-- notification -->
    </div>
    </a>
    </div>
  </ion-nav-title>

  <ion-content class="m-not-found">
    <div class="m-not-found-bg">
      <p>噢...此页面不存在</p>
    </div>
  </ion-content>
</ion-view>