<ion-view view-title="购物车({{ $root.cart.totalCount }})" hide-back-button="true">
  <ion-nav-title>
    <span class="m-cart-back-icon" ng-if="lastItem" ng-click="doOpenLastItemDetail()">
      <i class="icon ion-chevron-left m-common-back"></i>
    </span>
    购物车({{ $root.cart.totalCount }})
  </ion-nav-title>
  <ion-content class="m-cart anim-common" delegate-handle="cartScroll" on-scroll="onScroll()" scroll-event-interval="10" ng-class="scrollStatus">
    <!-- cart orders -->
    <order-sub-list orders="getOrders(tab)" is-reserved="tab === 0" is-cart-mode="true"></order-sub-list>
  </ion-content>

  <div class="m-cart-filters anim-common" ng-class="scrollStatus">
    <filter-tabs tabs="tabs" current-tab="{{ tab }}" action="switchTab(tab)"></filter-tabs>
  </div>

  <!-- back to top area -->
  <back-to-top-area show="showBacktoTopBtn" scroll-to-top="scrollToTop()" additional-class="m-cart-back-to-top"></back-to-top-area>

  <!-- bottom summary area -->
  <div class="row row-no-padding m-cart-summary">
    <div class="col col-25">
      <ion-checkbox ng-model="$root.cart.allChecked" class="checkbox-energized m-cart-summary-select-all" ng-click="doCheckAll()">全选</ion-checkbox>
    </div>
    <div class="col m-centered-div m-cart-total-amount">
      共计：<span class="m-cart-total-amount-text">{{ $root.cart.amount | currency: '¥' }}</span>
    </div>
    <div class="col energized-bg m-centered-div m-cart-pay">
      结算({{ $root.cart.checkedCount }})
    </div>
  </div>

</ion-view>
