<ion-view view-title="买卖肉APP分类" hide-back-button="true">
  <ion-nav-title>
    <div class="bar item-input-inset">
      <!-- search input -->
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <form action="." ng-submit="$event.preventDefault();doSearch(searchKeyword)" class="m-cat-search-form">
          <input type="hidden">
          <input type="search" placeholder="搜索商品" ng-click="doFocusSearchInput()" ng-model="searchKeyword" tabindex="-1">
        </form>
      </label>
      <!-- cancel button -->
      <button class="button button-small button-clear m-cat-search-cancel" ng-if="searchInputFocused" ng-click="doBlurSearchInput();$event.stopPropagation()">
        取消
      </button>
    </div>
  </ion-nav-title>

  <!-- main area -->
  <ion-content scrollbar-x="false" scrollbar-y="false" class="m-cat-body" ng-class="{'downing': $root.ui.tabsHidden}" on-scroll="getScrollPosition()">

    <!-- item list area -->
    <div class="m-cat-main" ng-class="{'expanded': menuOpened}">
      <!-- search results -->
      <search-result-list items="searchResults"></search-result-list>
    </div>

    <!-- backdrop -->
    <div class="m-cat-backdrop" ng-class="{'activated': sortActivated || menuOpened}" ng-click="doTapBackdrop()">
    </div>

  </ion-content>

  <!-- categories menu -->
  <category-menu menu-opened="menuOpened" options-bar-opened="optionsBarOpened" swipe-menu="swipeMenu(open)" items="classifications[currentLevel]" additional-class="m-cat-menu-category"></category-menu>

  <div class="m-cat-options-bar" ng-class="{'downing': !optionsBarOpened}">
    <!-- sorting & filters -->
    <div class="m-cat-filters">
      <div class="row row-no-padding m-cat-filters-row">
        <div class="col col-50 m-cat-filters-col-border">
          <sorter event-name="{{ sortEventName }}" sorters="sorters.common" sort-activated="sortActivated" activate-sort="activateSort()" additional-class="m-cat-sorter"></sorter>
        </div>

        <div class="col col-50">
          <screener event-prefix="{{ screenEventPrefix }}" tags="tags" screen-activated="screenActivated" activate-screen="activateScreen()" additional-class="m-cat-screener"></screener>
        </div>
      </div>
    </div>

  </div>

  <div class="m-cat-to-top-area" ng-class="{'activated': showBacktoTopBtn}" ng-click="scrollToTop()">
    <img class="m-cat-to-top-img" ng-src="img/common/to-top.png"></img>
  </div>

  <!-- search panel -->
  <div class="m-cat-search-wrapper">
    <ion-scroll zooming="true" direction="y" style="width: 100%" class="m-cat-search" ng-class="{'activated': searchInputFocused}" animation-callback>
      <div style="height: 1000px;" class="m-cat-search-keywords">
        <search-list-keyword hot-keywords="hotKeywords" keywords="$root.search.keywords" search-input-focused="searchInputFocused"></search-list-keyword>
      </div>
    </ion-scroll>
  </div>

</ion-view>
