<ion-view view-title="买卖肉APP分类" hide-back-button="true">
  <ion-nav-title>
    <div class="bar bar-header item-input-inset">
      <!-- search input -->
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="搜索商品">
      </label>
      <!-- options -->
      <a class="button button-icon icon ion-android-more-horizontal m-cat-options" ng-click="doCheckOptions()">
      </a>
    </div>
  </ion-nav-title>
  <ion-content scrollbar-x="false" scrollbar-y="false" class="m-cat-body" ng-class="{'downing': $root.ui.tabsHidden}" on-scroll="getScrollPosition()">

    <!-- sorting & filters -->
    <div class="m-cat-filters">
      <div class="row row-no-padding m-cat-filters-row">
        <div class="col col-50 m-cat-filters-col-border">
          <a class="button button-small button-clear m-cat-filters-text" ng-class="{'text-activated': sortActivated}" ng-click="activateSort()">
            {{ sorters[selectedSortIndex].text }}<span class="ion-chevron-down m-cat-down-icon"></span>
          </a>
        </div>
        <div class="col col-50">
          <a class="button button-small button-clear m-cat-filters-text" ng-class="{'text-activated': screenActivated}" ng-click="activateScreen()">
            筛选<span class="ion-chevron-down m-cat-down-icon"></span>
          </a>
        </div>
      </div>
    </div>

    <!-- filter options -->
    <div class="m-cat-filters-options">
      <div class="list m-cat-filters-options-list" ng-class="{'activated': sortActivated}">
        <a class="item item-icon-right m-cat-filters-option" href="#" ng-repeat="sorter in sorters track by $index" ng-click="doSelectSorter($index)">
          {{ sorter.text }}
          <i class="icon ion-checkmark-circled m-color-theme-fg m-cat-filters-option-icon" ng-if="selectedSortIndex === $index"></i>
        </a>
      </div>
    </div>

    <!-- item list area -->
    <div class="m-cat-main" ng-class="{'expanded': menuOpened}">
      <!-- search results -->
      <search-result-list items="searchResults"></search-result-list>
    </div>

    <!-- backdrop -->
    <div class="m-cat-backdrop" ng-class="{'activated': sortActivated || menuOpened}" ng-click="doTapBackdrop()">
    </div>

  </ion-content>

  <!-- screen options -->
  <ion-content class="m-cat-screen-container-scroll m-cat-screen-options-area" ng-class="{'activated': screenActivated}">
    <div class="m-cat-screen-container">

      <!-- brands -->
      <div class="m-cat-screen-brands">
        <div class="m-cat-screen-brands-title">
          品牌
        </div>
        <div class="m-cat-screen-brands-items">
          <span class="m-cat-screen-brands-item" ng-repeat="brand in brands track by $index" ng-click="doSelectBrand($index)" ng-class="{'selected': checkStatus('brand', $index)}">
            {{ brand.name }}
          </span>
        </div>
      </div>

      <!-- product attributes -->
      <div class="m-cat-screen-attrs">
        <div class="m-cat-screen-attrs-title">
          产品属性
        </div>
        <div class="m-cat-screen-attrs-items">
          <span class="m-cat-screen-attrs-item" ng-repeat="attr in attributes track by $index" ng-click="doSelectAttribute($index)" ng-class="{'selected': checkStatus('attr', $index)}">
            {{ attr.name }}
          </span>
        </div>
      </div>

      <!-- reset btn -->
      <button class="button button-outline button-energized m-cat-screen-reset" ng-click="doResetScreen()">重置</button>

      <!-- confirm btn -->
      <button class="button button-full button-energized m-cat-screen-confirm" ng-click="doConfirmScreen()">确认</button>

    </div>
  </ion-content>

  <!-- categories menu -->
  <ion-content class="m-cat-menu-content" ng-class="{'activated': menuOpened}">
    <!-- category menu -->
    <div class="m-cat-menu" on-swipe-right="swipeMenu(true)" on-swipe-left="swipeMenu(false)" ng-class="{'activated': menuOpened}" style="height: {{ menuHeight }} + 'px'">
      <div class="m-cat-menu-container">
        <!-- menu itself -->
        <div class="m-cat-menu-bar">
          <div class="m-cat-menu-bar-item m-cat-menu-bar-item-return">
            <span class="ion-arrow-return-left m-cat-menu-bar-return"></span>返回上一级
          </div>
          <div class="m-cat-menu-bar-item" ng-repeat="item in classifications[currentLevel] track by $index" ng-click="doSelectCategory(item)">
            <div class="m-cat-menu-bar-item-title">
              {{ item.name }}
            </div>
          </div>
          <div class="m-cat-menu-bar-item m-cat-menu-bar-hide" ng-if="menuOpened" on-tap="swipeMenu(false)">
            <div class="m-cat-menu-hide-wrapper">
              <span class="ion-chevron-left"></span>
              <span class="m-cat-menu-bar-hide-text">关闭</span>
            </div>
          </div>
        </div>
      </div>
      <!-- icon hint -->
      <div class="m-cat-menu-hint" on-tap="swipeMenu(true)">
        <i class="icon ion-chevron-right"></i>
      </div>
    </div>
  </ion-content>

  <div class="m-cat-to-top-area" ng-class="{'activated': showBacktoTopBtn}" ng-click="scrollToTop()">
    <img class="m-cat-to-top-img" ng-src="img/common/to-top.png"></img>
  </div>

</ion-view>
