<ion-view view-title="首页" hide-back-button="true">
  <ion-nav-title>
    <div class="bar item-input-inset">
      <!-- geolocation -->
      <button class="button button-clear m-btn-geo" ng-click="openGeoPopover($event)">
        {{ currentCity }}
      </button>
      <!-- search input -->
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="搜索商品">
      </label>
      <!-- notification -->
      <div class="m-home-nofitication">
        <notification-center count="{{ $root.notificationCount > 99 ? '99+' : $root.notificationCount }}" target="tab.notification-home"></notification-center>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="m-home-content">

    <div ng-if="$root.network">

      <ion-refresher pulling-text="上拉更新页面..." on-refresh="initialize()">
      </ion-refresher>

      <!-- slider -->
      <ion-slide-box on-slide-changed="slideHasChanged($index)" delegate-handle="bannersSlideBox">
        <ion-slide ng-repeat="banner in banners track by $index">
          <div>
            <img class="m-slide-image" ng-src="{{ banner.path }}"/>
          </div>
        </ion-slide>
      </ion-slide-box>
      <!-- sales area -->
      <div class="m-sales-area">
        <sales-area areas="areas"></sales-area>
      </div>

      <!-- seckilling area -->
      <seckilling-list items="seckilling"></seckilling-list>

      <!-- type 1 area -->
      <commodity-grid items="commodities[0]" banner="img/item/type-1.png" cid="$root.category.entries[0].id"></commodity-grid>

      <!-- type 2 area -->
      <commodity-grid items="commodities[1]" banner="img/item/type-2.png" cid="$root.category.entries[1].id"></commodity-grid>

      <!-- type 3 area -->
      <commodity-grid items="commodities[2]" banner="img/item/type-3.png" cid="$root.category.entries[2].id"></commodity-grid>

      <!-- type 4 area -->
      <commodity-grid items="commodities[3]" banner="img/item/type-4.png" cid="$root.category.entries[3].id"></commodity-grid>

      <!-- type 5 area -->
      <commodity-grid items="commodities[4]" banner="img/item/type-5.png" cid="$root.category.entries[4].id"></commodity-grid>
    </div>

    <!-- when network is down -->
    <network-down reload="initialize()"></network-down>

  </ion-content>
  <!-- position list -->
  <div class="m-selcet-positon-wrapper">
    <ion-scroll zooming="true" direction="y" style="width: 100%" class="m-cat-search m-select-positon" ng-class="{'activated': selectPos}" animation-callback>
      <position-list items="positions" currentCity="currentCity"></position-list>
    </ion-scroll>
  </div>

  <!-- goto wrap -->
  <div class="m-goto-origin-wrapper" ng-if="gotoOrigin"></div>
</ion-view>
