<ion-view view-title="我的订单">
  <ion-content class="m-mine-orders">

    <div class="m-filter-tabs">
      <div class="m-filter-item" ng-class="{'active': tab == 0}" ng-click="switchTab(0)">
        <span>全部</span>
      </div>
      <div class="m-filter-item" ng-class="{'active': tab == 1}" ng-click="switchTab(1)">
        <span>待付款</span>
      </div>
      <div class="m-filter-item" ng-class="{'active': tab == 2}" ng-click="switchTab(2)">
        <span>待发货</span>
      </div>
      <div class="m-filter-item" ng-class="{'active': tab == 3}" ng-click="switchTab(3)">
        <span>待收货</span>
      </div>
      <div class="m-filter-item" ng-class="{'active': tab == 4}" ng-click="switchTab(4)">
        <span>待自提</span>
      </div>
      <div class="m-filter-item" ng-class="{'active': tab == 5}" ng-click="switchTab(5)">
        <span>售后中</span>
      </div>
    </div>

    <div class="m-order-list">
      <order-list items="orders"></order-list>
    </div>

  </ion-content>
</ion-view>
