<ion-view view-title="设置">
  <ion-content class="m-mine-config">
    <div class="list">

      <div class="item item-icon-right" ng-click="doOpenPersonalInfo()">
        个人资料
        <i class="icon ion-chevron-right"></i>
      </div>

      <div class="item item-icon-right" ng-click="doOpenAddress()">
        收货地址管理
        <i class="icon ion-chevron-right"></i>
      </div>

      <div class="item item-icon-right" ng-click="doOpenMyReceipt()">
        我的发票
        <i class="icon ion-chevron-right"></i>
      </div>

      <div class="item item-icon-right" ng-click="doOpenSecurityConfig()">
        安全设置
        <i class="icon ion-chevron-right"></i>
      </div>

      <div class="item item-icon-right" ng-click="doOpenAboutUs()">
        关于我们
        <i class="icon ion-chevron-right"></i>
      </div>

    </div>
  </ion-content>
</ion-view>
