<ion-view view-title="我的订单">
  <ion-content class="m-mine-orders" delegate-handle="orderScroll" on-scroll="onScroll()" scroll-event-interval="10" ng-class="scrollStatus">

    <div class="m-order-list">
      <order-list items="orders" search="search"></order-list>
    </div>

  </ion-content>

  <!-- empty content -->
  <empty-content words="words" additional-class="{{ additionalClass }}" button="button" ng-if="isEmpty"></empty-content>

  <div class="m-mine-orders-filters" ng-class="scrollStatus">
    <filter-tabs tabs="tabs" current-tab="{{ tab }}" action="switchTab(tab)"></filter-tabs>
  </div>

  <!-- back to top area -->
  <back-to-top-area show="showBacktoTopBtn" scroll-to-top="scrollToTop()" additional-class="m-mine-orders-back-to-top"></back-to-top-area>

</ion-view>
