<div class="mp-sharing-panel">
  <div class="mp-sharing-panel-title">
    分享
  </div>
  <div class="row">
    <!-- wechat -->
    <div class="col col-25 mp-sharing-item" ng-click="doShare(0)">
      <img ng-src="img/share/wechat.png" class="mp-sharing-item-img"/>
      <span class="mp-sharing-item-text">微信</span>
    </div>
    <!-- wechat timeline -->
    <div class="col col-25 mp-sharing-item" ng-click="doShare(1)">
      <img ng-src="img/share/wechat-timeline.png" class="mp-sharing-item-img"/>
      <span class="mp-sharing-item-text">微信朋友圈</span>
    </div>
    <!-- weibo -->
    <div class="col col-25 mp-sharing-item" ng-click="doShare(2)">
      <img ng-src="img/share/weibo.png" class="mp-sharing-item-img"/>
      <span class="mp-sharing-item-text">微博</span>
    </div>
    <!-- sms -->
    <div class="col col-25 mp-sharing-item" ng-click="doShare(3)">
      <img ng-src="img/share/sms.png" class="mp-sharing-item-img"/>
      <span class="mp-sharing-item-text">短信</span>
    </div>
  </div>
</div>
