<div class="m-order-detail-address" ng-class="{'hidden': isHidden}" ng-click="doOpenAddressList()">
  <div class="row">
    <div class="col col-10 m-order-detail-address-icon">
      <img ng-src="{{ iconPath }}"/>
    </div>
    <div class="col col-67" ng-class="{'col-67': !address.self, 'col-100': address.self}" ng-if="address && (type === 'normal' || type === 'receipt')">
      <!-- delivery -->
      <div class="row row-no-padding m-order-detail-address-row1" ng-if="!address.self">
        <div class="col col-33">
          {{ address.receiver }}
        </div>
        <div class="col col-67">
          {{ address.cellphone }}
        </div>
      </div>
      <!-- self-pick -->
      <div class="row row-no-padding m-order-detail-address-row1" ng-if="address.self">
        <div class="col col-100">
          {{ address.name }}
        </div>
      </div>

      <div class="row row-no-padding m-order-detail-address-row2">
        {{ address.self ? address.address : address.summary }}
      </div>
    </div>
    <div class="col col-67 m-order-detail-address-create" ng-if="!address && (type === 'normal' || type === 'receipt')">
      没有可用地址, 点击创建 :)
    </div>

    <div class="col col-90" ng-if="type === 'quarantine'">
      <input type="text" ng-model="address.summary" placeholder="请填写检疫证寄送地址" class="m-order-detail-address-input">
    </div>

    <!-- receipt button -->
    <div class="m-order-detail-address-receipt-btn" ng-if="type === 'receipt'">
      <button class="button button-small" ng-click="doCheckReceipt(item);$event.stopPropagation();">
        发票清单
      </button>
    </div>
  </div>
</div>
