<div class="m-order-detail-address">
  <div class="row">
    <div class="col col-10 m-order-detail-address-icon">
      <img ng-src="{{ iconPath }}"/>
    </div>
    <div class="col col-67">
      <div class="row row-no-padding m-order-detail-address-row1">
        <div class="col col-33">
          {{ address.receiver }}
        </div>
        <div class="col col-67">
          {{ address.cellphone }}
        </div>
      </div>
      <div class="row row-no-padding m-order-detail-address-row2">
        {{ address.street }}
      </div>
    </div>

    <!-- receipt button -->
    <div class="m-order-detail-address-receipt-btn" ng-if="type === 'receipt'">
      <button class="button button-small" ng-click="doCheckReceipt()">
        发票清单
      </button>
    </div>
  </div>
</div>
