<div class="m-order-list-suborder-container">
  <div class="m-order-list-suborder" ng-repeat="subOrder in orders track by $index">
    <div class="m-order-suborder-title">
      <ion-checkbox class="checkbox-energized m-order-suborder-check" ng-if="isCartModeBoolean" ng-click="doCheckSubOrder(subOrder)" ng-model="subOrder.checked"></ion-checkbox>
      <span>{{ subOrder.name }} &gt;</span>
      <span ng-show="{{ isReserved === 'true' ? true : false }}">
        <img class="m-order-suborder-title-reserve" ng-src="img/item/item-reserved.png"/>
      </span>
      <span class="m-order-suborder-title-status" ng-click="doToggleEdit(subOrder)" ng-if="isCartModeBoolean">{{ subOrder.isEditing ? '完成' : '编辑' }}</span>
    </div>
    <div class="list m-order-suborder-item-list">
      <div class="m-order-suborder-item-container" ng-class="{'is-cart-mode': isCartModeBoolean}" ng-repeat="subItem in getShownItems(subOrder) track by $index">
        <ion-checkbox class="checkbox-energized m-order-suborder-item-check" ng-if="isCartModeBoolean" ng-click="doCheckSubOrderItem(subOrder, subItem)" ng-model="subItem.checked"></ion-checkbox>
        <a class="item item-thumbnail-left m-order-suborder-item" ng-click="doOpenDetail(subItem)">
          <img ng-src="{{ subItem.imagePath }}">
          <div ng-if="!subOrder.isEditing">
            <span class="m-order-suborder-item-name">{{ subItem.name }}</span>
            <!-- <span class="m-order-suborder-item-attr">属性：{{ $root.mappings.attributes[subItem.attribute] }}</span> -->
            <div class="m-order-suborder-item-bottom-left">
              <span class="m-order-suborder-item-price">
                {{ subItem.price | currency: '￥' }}
              </span>
            </div>
            <div class="m-order-suborder-item-bottom-right">
              <span class="m-order-suborder-item-unit">
                数量: {{ subItem.quantity }}
              </span>
            </div>
          </div>
          <div ng-if="subOrder.isEditing" class="m-order-suborder-editing">
            <cart-count item="subItem" show-remove-btn="true"></cart-count>
          </div>
        </a>
      </div>
      <a class="item m-order-suborder-more" ng-click="doShowMore(subOrder)" ng-if="doShowMore(subOrder, true)">
        <h4>显示更多...</h4>
      </a>
    </div>
  </div>
</div>
