<ion-modal-view>

  <ion-header-bar class="bar-energized">
    <div class="buttons">
      <button class="button button-clear" ng-click="$root.modals.checkoutModal.doClose()">
        <span class="icon ion-chevron-left m-common-back"></span>
        关闭
      </button>
    </div>
    <h1 class="title">
      收银台
    </h1>
  </ion-header-bar>
  <ion-content class="m-modal-checkout">

    <!-- addresses related -->
    <div class="m-modal-checkout-address">
      <order-detail-address type="normal" address="$root.modals.checkoutModal.orders.addresses.normal" clickable="false"></order-detail-address>
    </div>

    <!-- money information -->
    <div class="m-modal-checkout-money">
      <div class="m-modal-checkout-money-should">
        <span class="m-common-bold m-common-larger">应付金额：</span>
        <span class="m-common-red m-common-larger-x">{{ $root.modals.checkoutModal.orders.money.summary | currency: '¥' }}</span>
      </div>
      <div class="m-modal-checkout-money-hint">
        订单已提交，请于
        <item-remain-time time="$root.modals.checkoutModal.orders.deadline" prefix="" ignore-zero="true"></item-remain-time>
        内完成支付，逾期订单将被取消
      </div>
    </div>

    <!-- payment ways -->
    <div class="list m-modal-checkout-payment">
      <ion-checkbox class="checkbox-energized" ng-model="$root.modals.checkoutModal.payments[0]" ng-disabled="!$root.pinfo.deposit || $root.pinfo.deposit === 0">
        <div>
          账户可用余额：
          <span class="m-common-red">{{ $root.pinfo.deposit | currency: '¥' }}</span>
        </div>
        <div ng-if="$root.modals.checkoutModal.doShowDepositHint()" class="m-modal-checkout-payment-not-enough">
          <span>金额不足，请勾选以下支付方式支付剩余：</span>
          <span>{{ ($root.modals.checkoutModal.orders.money.summary - $root.pinfo.deposit) | currency: '¥' }}</span>
        </div>
      </ion-checkbox>
      <ion-checkbox class="checkbox-energized" ng-model="$root.modals.checkoutModal.payments[1]" ng-disabled="true">
        <img ng-src="img/common/payment-alipay.png" class="m-modal-checkout-payment-logo"/>
      </ion-checkbox>
      <ion-checkbox class="checkbox-energized" ng-model="$root.modals.checkoutModal.payments[2]" ng-disabled="true">
        <img ng-src="img/common/payment-kuaiqian.png" class="m-modal-checkout-payment-logo"/>
      </ion-checkbox>
    </div>

  </ion-content>

  <ion-footer-bar class="m-modal-checkout-footer">
    <button class="button button-full button-energized" ng-click="$root.modals.checkoutModal.doCheckout()">
      去付款
    </button>
  </ion-footer-bar>

</ion-modal-view>
