<ion-modal-view>
	<ion-header-bar class="bar-energized">
    <div class="buttons">
            <button class="button button-clear" ng-click="modals.footprintModal.doHide()">
                <span class="icon ion-chevron-left m-common-back"></span>
                我的
            </button>
    </div>
    <h1 class="title">我的足迹</h1>
    <div class="buttons">
      	<button class="button button-clear" ng-click="modals.footprintModal.doHide()">
        <span class="icon ion-more m-header-icon"></span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content></ion-content>
  <!-- empty content -->
  <empty-content words="modals.footprintModal.words" additional-class="{{ modals.footprintModal.additionalClass }}" button="modals.footprintModal.button" ng-if="modals.footprintModal.isEmpty"></empty-content>
</ion-modal-view>