<ion-modal-view>

  <ion-header-bar class="bar-energized">
    <div class="buttons">
      <button class="button button-clear" ng-click="$root.modals.addressModal.doHide()">
        <span class="icon ion-chevron-left m-common-back"></span>
        返回
      </button>
    </div>
    <h1 class="title">
      我的地址
    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="$root.modals.addressModal.doAdd()">
        <span class="icon ion-plus m-header-icon"></span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="m-modal-mine-address">

    <div class="list m-modal-mine-address-list">
      <div class="m-modal-mine-address-item" ng-repeat="address in $root.addresses track by $index" ng-if="$root.addresses.length > 0">
        <div class="row row-no-padding">
          <div class="col col-10 m-modal-mine-address-item-checkbox" ng-if="$root.modals.addressModal.currentAddress" ng-click="$root.modals.addressModal.doSelectAddress(address, $index)">
            <ion-checkbox class="checkbox-energized" ng-model="$root.modals.addressModal.addressCheckboxes[$index]"></ion-checkbox>
          </div>
          <div class="col" ng-class="{'col-90': $root.modals.addressModal.currentAddress, 'col-100': !$root.modals.addressModal.currentAddress}">
            <a class="item item-icon-right m-modal-mine-address-item" ng-click="$root.modals.addressModal.doOpenAddressDetail(address, $index)">
              <div class="m-modal-mine-address-item-main">
                <div class="m-modal-mine-address-item-row1">
                  <span class="m-modal-mine-address-item-default" ng-if="address.isDefault">[默认]</span>
                  {{ address.receiver }}
                </div>
                <div class="m-modal-mine-address-item-row1-ext">
                  <span class="m-modal-mine-address-item-phone">
                    <span class="m-modal-mine-address-item-cellphone">
                      {{ address.cellphone }}
                    </span>
                    <span class="m-modal-mine-address-item-fixedphone">
                      {{ address.phoneArea }}-{{ address.phone }}
                    </span>
                  </span>
                </div>
                <div class="m-modal-mine-address-item-row2">
                  {{ address.summary }}
              </div>
              </div>
              <i class="icon ion-chevron-right" ng-click="$root.modals.addressModal.doOpenAddressDetail(address, $index, true);$event.stopPropagation();"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- empty content -->
      <empty-content words="$root.modals.addressModal.ec.words" additional-class="{{ $root.modals.addressModal.ec.additionalClass }}" ng-if="$root.addresses.length === 0"></empty-content>
    </div>

  </ion-content>

</ion-modal-view>
