<ion-modal-view>

  <ion-header-bar class="bar-energized">
    <div class="buttons">
      <button class="button button-clear" ng-click="$root.modals.addressDetailModal.doHide()">
        <span class="icon ion-chevron-left m-common-back"></span>
        返回
      </button>
    </div>
    <h1 class="title">
      地址详情
    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="$root.modals.addressDetailModal.doToggleEditing()">
        {{ $root.modals.addressDetailModal.isEditing ? '保存修改' : '修改地址' }}
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="m-modal-mine-address-detail">
    <div class="list">

      <label class="item item-input">
        <span class="input-label">收货人</span>
        <input type="text" ng-model="$root.modals.addressDetailModal.address.receiver" ng-disabled="!$root.modals.addressDetailModal.isEditing">
      </label>

      <label class="item item-input">
        <span class="input-label">手机号码</span>
        <input type="tel" ng-model="$root.modals.addressDetailModal.address.cellphone" ng-disabled="!$root.modals.addressDetailModal.isEditing">
      </label>

      <div class="item item-input">
        <span class="input-label">固定电话</span>
        <input type="tel" ng-model="$root.modals.addressDetailModal.address.phoneArea" class="m-modal-mine-address-detail-phone-area" ng-disabled="!$root.modals.addressDetailModal.isEditing">
        <span class="m-modal-mine-address-detail-phone-dash" ng-disabled="!$root.modals.addressDetailModal.isEditing">---</span>
        <input type="tel" ng-model="$root.modals.addressDetailModal.address.phone" class="m-modal-mine-address-detail-phone-fixed" ng-disabled="!$root.modals.addressDetailModal.isEditing">
      </div>

      <label class="item item-input">
        <span class="input-label">省份</span>
        <select ng-model="$root.modals.addressDetailModal.address.province" ng-options="item.name for item in $root.geo.provinces" ng-disabled="!$root.modals.addressDetailModal.isEditing">
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">城市</span>
        <select ng-model="$root.modals.addressDetailModal.address.city" ng-options="item.name for item in $root.geo.all[$root.modals.addressDetailModal.address.province.id]" ng-disabled="!$root.modals.addressDetailModal.isEditing">
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">地区</span>
        <select ng-model="$root.modals.addressDetailModal.address.district" ng-options="item.name for item in $root.geo.all[$root.modals.addressDetailModal.address.city.id]" ng-disabled="!$root.modals.addressDetailModal.isEditing">
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">街道地址</span>
        <input type="text" ng-model="$root.modals.addressDetailModal.address.street" ng-disabled="!$root.modals.addressDetailModal.isEditing">
      </label>

      <!-- <label class="item item-input">
        <span class="input-label">备注</span>
        <input type="text" ng-model="$root.modals.addressDetailModal.address.notice" ng-disabled="!$root.modals.addressDetailModal.isEditing">
      </label> -->

    </div>

    <!-- operation list -->
    <div class="list m-modal-mine-address-op-list">

      <a class="item item-icon-left assertive" ng-click="$root.modals.addressDetailModal.removeAddress()" ng-if="$root.modals.addressDetailModal.address.id">
        <i class="icon ion-trash-a"></i>
        删除此地址
      </a>

      <a class="item item-icon-left" ng-click="$root.modals.addressDetailModal.defaultAddress(true)" ng-if="!$root.modals.addressDetailModal.address.isDefault && $root.addresses.length > 0">
        <i class="icon ion-home"></i>
        将此地址设为默认
      </a>

      <a class="item item-icon-left" ng-click="$root.modals.addressDetailModal.defaultAddress(false)" ng-if="$root.modals.addressDetailModal.address.isDefault && !$root.modals.addressDetailModal.isUpdating">
        <i class="icon ion-home"></i>
        取消默认地址
      </a>

    </div>

  </ion-content>

</ion-modal-view>
