<ion-modal-view>

  <ion-header-bar class="bar-energized">
    <div class="buttons">
      <button class="button button-clear" ng-click="modals.addressModal.doHide()">
        <span class="icon ion-chevron-left m-common-back"></span>
        返回
      </button>
    </div>
    <h1 class="title">
      我的地址
    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modals.addressModal.doAdd()">
        <span class="icon ion-plus m-header-icon"></span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="m-modal-mine-address">

    <div class="list m-modal-mine-address-list">

      <a class="item item-icon-right m-modal-mine-address-item" ng-repeat="address in $root.addresses track by $index" ng-click="modals.addressModal.doOpenAddressDetail(address)">
        <div class="m-modal-mine-address-item-main">
          <div class="m-modal-mine-address-item-row1">
            {{ address.receiver }}
            <span class="m-modal-mine-address-item-phone">
              <span class="m-modal-mine-address-item-cellphone">
                {{ address.cellphone }}
              </span>
              <span class="m-modal-mine-address-item-fixedphone">
                {{ address.phoneArea }}-{{ address.phone }}
              </span>
            </span>
          </div>
          <div class="m-modal-mine-address-item-row2">
            <span class="m-modal-mine-address-item-default" ng-if="address.isDefault">[默认]</span>
            {{ address.city }}{{ address.district }}{{ address.street }}
        </div>
        </div>
        <i class="icon ion-chevron-right"></i>
      </a>
      </div>

    </div>

    </div>

  </ion-content>

</ion-modal-view>