<ion-modal-view class="m-modal-mine-collect-view">
  <ion-header-bar class="bar-energized">
    <div class="buttons">
            <button class="button button-clear" ng-click="modals.collectModal.doHide()">
                <span class="icon ion-chevron-left m-common-back"></span>
                我的
            </button>
        </div>
        <div class="button-bar m-header-buttons">
      <a class="button" ng-class="{'active': modals.collectModal.tab === 0}" ng-click="modals.collectModal.switchTab(0)">商品</a>
        <a class="button" ng-class="{'active': modals.collectModal.tab === 1}" ng-click="modals.collectModal.switchTab(1)">店铺</a>
    </div>

        <div class="buttons">
      <button class="button button-clear" ng-click="modals.collectModal.doHide()">
        <span class="icon ion-more m-header-icon"></span>
      </button>
    </div>
  </ion-header-bar>

  <ion-content class="m-modal-mine-collect-content">
    <!-- options bar -->
    <div class="m-cat-options-bar" ng-class="{'downing': !optionsBarOpened}">
      <!-- sorting & filters -->
      <div class="m-cat-filters">
        <div class="row row-no-padding m-cat-filters-row">
          <div class="col col-50 m-cat-filters-col-border">
            <sorter event-name="{{ modals.collectModal.sortEventName }}" sorters="sorters.common" sort-activated="modals.collectModal.sortActivated" activate-sort="modals.collectModal.activateSort()" additional-class="m-collect-sorter"></sorter>
          </div>

          <div class="col col-50">
            <screener event-prefix="{{ modals.collectModal.screenEventPrefix }}" tags="modals.collectModal.tags" screen-activated="modals.collectModal.screenActivated" activate-screen="modals.collectModal.activateScreen()" additional-class="m-collect-screener"></screener>
          </div>
        </div>
      </div>
    </div>

    <!-- empty content -->
    <div class="m-collect-container" ng-show="modals.collectModal.tab === 0">
      <collect-product-list items="modals.collectModal.myFav"></collect-product-list>
      <!-- <div class="m-common-empty-container m-collect-empty-product" ng-if="modals.collectModal.myFav.length == 0">
        <p class="m-common-empty-text">您还没有任何收藏，快去收藏吧！</p>
      </div> -->
    </div>
    <div class="m-collect-container" ng-show="modals.collectModal.tab === 1">
      <collect-shop-list items="modals.collectModal.myFav"></collect-shop-list>
      <backdrop is-show = 'modals.collectModal.isShow'></backdrop>
    </div>

    <!-- empty content
    <div class="m-common-empty-container m-collect-empty-shop" ng-if="modals.collectModal.myFav.length == 0">
        <p class="m-common-empty-text">您还没有任何收藏，快去收藏吧！</p>
      </div> -->

  </ion-content>
  <empty-content words="modals.collectModal.words" additional-class="{{ modals.collectModal.additionalClass }}" button="modals.collectModal.button" ng-if="modals.collectModal.myFav.length == 0"></empty-content>
</ion-modal-view>