<ion-modal-view>

  <ion-header-bar class="bar-energized">
    <div class="buttons">
      <button class="button button-clear" ng-click="modals.changePasswordModal.doHide()">
        <span class="icon ion-chevron-left m-common-back"></span>
        返回
      </button>
    </div>
    <h1 class="title">
      修改密码
    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modals.changePasswordModal.doChangePassword()">
        确认修改
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="m-modal-mine-security-change-pwd">
    <div class="list">

      <!-- <div class="item item-input">
        <span class="input-label">验证码</span>
        <input type="tel" ng-model="modals.changePasswordModal.password.code" class="m-modal-mine-security-change-pwd-code">
        <button class="button button-small button-energized">获取验证码</button>
      </div> -->

      <label class="item item-input">
        <span class="input-label">原密码</span>
        <input type="password" ng-model="modals.changePasswordModal.password.previous" class="m-modal-mine-security-change-pwd-previous">
      </label>

      <label class="item item-input">
        <span class="input-label">新密码</span>
        <input type="password" ng-model="modals.changePasswordModal.password.next" class="m-modal-mine-security-change-pwd-next">
      </label>

      <label class="item item-input">
        <span class="input-label">确认新密码</span>
        <input type="password" ng-model="modals.changePasswordModal.password.nextConfirm" class="m-modal-mine-security-change-pwd-next-confirm">
      </label>

    </div>

  </ion-content>

</ion-modal-view>