<ion-modal-view>
    <ion-header-bar class="bar-energized">
        <div class="buttons">
            <button class="button button-clear" ng-click="modals.receiptModal.doHideReceipt()">
                <span class="icon ion-chevron-left m-common-back"></span>
                我的
            </button>
        </div>
    <h1 class="title">我的发票</h1>
    <button class="button button-clear" ng-click="modals.receiptModal.doAdd(modals.receiptModal.tab)">
        <span class="icon ion-plus m-header-icon"></span>
      </button>
    </ion-header-bar>
<ion-content class="m-modal-mine-receipt">
        <div class="m-filter-tabs">
           <div class="m-filter-item" ng-class="{'active': modals.receiptModal.tab === 0}" ng-click="modals.receiptModal.switchTab(0)">
              <span>增值税普通发票</span>
           </div>
           <div class="m-filter-item" ng-class="{'active': modals.receiptModal.tab === 1}" ng-click="modals.receiptModal.switchTab(1)">
             <span>增值税专用发票</span>
            </div>
        </div>

        <!-- usual receipts -->
        <div class="m-modal-mine-receipt-body" ng-if="modals.receiptModal.tab === 0 && $root.receipts.usual && $root.receipts.usual.length > 0">
          <div class="m-modal-mine-receipt-head">
            <span class="m-modal-mine-receipt-head-left">单位名称</span>
            <span class="m-modal-mine-receipt-head-right">审核结果</span>
          </div>
          <ion-list can-swipe="true">
            <ion-item class="item m-modal-mine-receipt-item" ng-repeat="receipt in $root.receipts.usual track by $index">
              <span class="m-modal-mine-receipt-item-text">
                {{ receipt.companyName }}
              </span>
              <span class="item-note m-modal-mine-receipt-item-note">
                {{ modals.receiptModal.getExplain(receipt) }}
              </span>
              <ion-option-button class="button-assertive" ng-click="modals.receiptModal.remove(receipt)">
                删除
              </ion-option-button>
            </ion-item>
          </ion-list>
        </div>

        <!-- special receipts -->
        <div class="m-modal-mine-receipt-body" ng-if="modals.receiptModal.tab === 1 && $root.receipts.special && $root.receipts.special.length > 0">
            <div class="m-modal-mine-receipt-head">
              <span class="m-modal-mine-receipt-head-left">单位名称</span>
              <span class="m-modal-mine-receipt-head-right">审核结果</span>
            </div>
            <ion-list can-swipe="true">
              <div ng-repeat="receipt in $root.receipts.special track by $index">
                <!-- summary of the receipt -->
                <ion-item class="item m-modal-mine-receipt-item" ng-click="modals.receiptModal.check(receipt)">
                  <span class="m-modal-mine-receipt-item-text">
                    {{ receipt.companyName }}
                  </span>
                  <span class="item-note m-modal-mine-receipt-item-note">
                    {{ modals.receiptModal.getExplain(receipt) }}
                  </span>
                  <ion-option-button class="button-assertive" ng-click="modals.receiptModal.remove(receipt)">
                    删除
                  </ion-option-button>
                </ion-item>
                <!-- detail of the receipt -->
                <ion-item ng-show="receipt.showDetail" class="m-item-accordion">
                  <div class="m-modal-mine-receipt-item-extra">
                    <div class="list">
                      <div class="item">
                        纳税人识别号
                        <span class="item-note">
                          {{ receipt.taxpayer }}
                        </span>
                      </div>
                      <div class="item">
                        注册地址
                        <span class="item-note">
                          {{ receipt.registerAddress }}
                        </span>
                      </div>
                      <div class="item">
                        注册电话
                        <span class="item-note">
                          {{ receipt.phone }}
                        </span>
                      </div>
                      <div class="item">
                        开户银行
                        <span class="item-note">
                          {{ receipt.bank }}
                        </span>
                      </div>
                      <div class="item">
                        银行账户
                        <span class="item-note">
                          {{ receipt.bankAccount }}
                        </span>
                      </div>
                    </div>
                  </div>
                </ion-item>
              </div>
            </ion-list>
        </div>
    </ion-content>
    <!-- empty content -->
    <empty-content words="modals.receiptModal.ec.words" additional-class="{{ modals.receiptModal.ec.additionalClass }}" ng-if="modals.receiptModal.checkEmpty()"></empty-content>
</ion-modal-view>
