<ion-modal-view>

  <ion-header-bar class="bar-energized">
    <div class="buttons">
      <button class="button button-clear" ng-click="$root.modals.orderDetailModal.doHide()">
        <span class="icon ion-chevron-left m-common-back"></span>
        返回
      </button>
    </div>
    <h1 class="title">
      订单详情
    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="$root.modals.orderDetailModal.doOpenHeaderMenu()">
        <span class="icon ion-more m-header-icon"></span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="m-modal-order-detail">

    <!-- banner image -->
    <order-detail-banner status="{{ $root.modals.orderDetailModal.item.status }}"></order-detail-banner>

    <!-- address list -->
    <div class="m-modal-order-detail-address">
      <order-detail-address type="location" address="$root.modals.orderDetailModal.item.addresses.normal"></order-detail-address>
      <order-detail-address type="receipt" address="$root.modals.orderDetailModal.item.addresses.receipt"></order-detail-address>
      <order-detail-address type="quarantine" address="$root.modals.orderDetailModal.item.addresses.quarantine"></order-detail-address>
    </div>

  </ion-content>

</ion-modal-view>
