<ion-modal-view class="m-modal-shop-detail-view">
	<ion-header-bar class="bar-energized">
		<div class="bar item-input-inset">
		    <!-- geolocation -->
	      	<button class="button button-clear" ng-click="shopDetailModal.doHide()">
	            <span class="icon ion-chevron-left m-common-back"></span>
	     	 </button>
	     	 <form action="." ng-submit="$event.preventDefault();doSearch(searchKeyword)" class="m-cat-search-form">
		      	<!-- search input -->
		     	 	<label class="item-input-wrapper">
			        <i class="icon ion-ios-search placeholder-icon"></i>
			        <input type="search" placeholder="搜索店内商品" ng-click="shopDetailModal.doFocusSearchInput()">
		      	</label>
	      	</form>
	      	<!-- cancel button -->
		      <button class="button button-small button-clear m-cat-search-cancel" ng-if="shopDetailModal.searchInputFocused" ng-click="shopDetailModal.doBlurSearchInput();$event.stopPropagation()">
		        取消
		      </button>
	     	<!-- notification -->
	      	<div class="m-home-cart">
		        <a class="button button-icon icon ion-ios-cart m-modal-shop-detail-view-cart" ng-click="shopDetailModal.doTransToCart()">
		        	<span class="badge badge-assertive m-badge" ng-if="$root.cart.totalCount > 0">
                {{ shopDetailModal.doGetCartCount() }}
              </span>
		        </a>
	      	</div>
	      	<!-- <div class="buttons">
						<button class="button button-clear" ng-click="">
							<span class="icon ion-more m-header-icon"></span>
						</button>
		   	</div> -->
    	</div>
	</ion-header-bar>
	<ion-content class="m-modal-mine-shop-detail-content" delegate-handle="shopItemsScroll" on-scroll="shopDetailModal.onScroll()">
		<div class="m-modal-mine-shop-banner" ng-class="{'hide-slow': shopDetailModal.tab === 1}">
			<div class="m-modal-mine-shop-banner-info row">
				<div class="col col-60">
					<div class="m-modal-mine-shop-banner-name">
						<img class="m-modal-mine-shop-banner-brand" ng-src="{{ shopDetailModal.shop.logoPath }}">
						<div class="m-modal-mine-shop-banner-text">
							<h4 class="m-modal-mine-shop-banner-text-head">{{ shopDetailModal.shop.name }}</h4>
							<p class="m-modal-mine-shop-banner-text-grade">
								总评分：{{ shopDetailModal.shop.ratings.description }}分
							</p>
						</div>
					</div>
				</div>
				<div class="col col-40">
					<button class="button button-energized m-button-favorite"><i class="icon ion-star"></i>收藏</button>
				</div>
			</div>
		</div>
		<div class="m-filter-tabs" ng-class="{'active-products': shopDetailModal.tab === 1}">
		  <div class="m-filter-item" ng-class="{'active': shopDetailModal.tab === 0}" ng-click="shopDetailModal.switchTab(0)">
	      <span>店铺首页</span>
		  </div>
		  <div class="m-filter-item" ng-class="{'active': shopDetailModal.tab === 1}" ng-click="shopDetailModal.switchTab(1)">
	    	<span>全部商品</span>
		  </div>
    </div>
    <div class="m-modal-mine-shop-index" ng-show="shopDetailModal.tab === 0">
    	<div class="m-modal-mine-shop-index-adv">
    		<img src="img/common/adv.png">
    		<img src="img/common/adv.png">
    	</div>
    	<div class="m-modal-mine-shop-index-intro">
    		<p class="m-modal-mine-shop-index-intro-title">精品推荐</p>
    		<collect-product-list items="shopDetailModal.items"></collect-product-list>
    	</div>
    	<div class="m-modal-mine-shop-index-intro">
    		<p class="m-modal-mine-shop-index-intro-title">促销公告</p>
    		<collect-product-list items="shopDetailModal.items"></collect-product-list>
    	</div>
    </div>

    <div class="m-modal-mine-shop-all" ng-show="shopDetailModal.tab === 1">

	    <collect-product-list items="shopDetailModal.items" ng-class="{'move-right':shopDetailModal.menuOpened}"></collect-product-list>
	    <no-more-content ng-if="!moreDataCanBeLoaded()"></no-more-content>
	    <backdrop is-show='shopDetailModal.isShow'></backdrop>
    </div>

    <!-- infinite scroll -->
  	<ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMore()" distance="1%">
  	</ion-infinite-scroll>

  	<div class="m-cat-body-loading">
      <ion-spinner ng-if="isLoadingMore"></ion-spinner>
    </div>

	</ion-content>

	<!-- options bar -->
  <div class="m-cat-options-bar has-sub-head" ng-class="{'downing': !optionsBarOpened, 'fixed-top': onTop}" ng-if="shopDetailModal.tab === 1">
	  <!-- sorting & filters -->
	  <div class="m-cat-filters">
	    <div class="row row-no-padding m-cat-filters-row">
	      <div class="col col-50 m-cat-filters-col-border">
	        <sorter event-name="{{ shopDetailModal.sortEventName }}" sorters="shopDetailModal.sorters" sort-activated="shopDetailModal.sortActivated" activate-sort="shopDetailModal.activateSort()" additional-class="m-shop-sorter"></sorter>
	      </div>

	      <div class="col col-50">
	        <screener event-prefix="{{ shopDetailModal.screenEventPrefix }}" tags="shopDetailModal.tags" screen-activated="shopDetailModal.screenActivated" activate-screen="shopDetailModal.activateScreen()" additional-class="m-shop-screener"></screener>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- back to top btn -->
  <back-to-top-area show="showBacktoTopBtn" scroll-to-top="scrollToTop()"></back-to-top-area>

	<!-- categories menu -->
	<category-menu menu-opened="shopDetailModal.menuOpened" options-bar-opened="true" swipe-menu="shopDetailModal.swipeMenu(open)" items="shopDetailModal.classifications" additional-class="m-shop-menu-category" ng-show="shopDetailModal.tab === 1" offset="{{ $root.ui.heights.optionsBarHeight }}"></category-menu>

	<!-- back to top btn -->
  <back-to-top-area show="shopDetailModal.showBacktoTopBtn" scroll-to-top="scrollToTop()" class="m-shop-detail-back-to-top"></back-to-top-area>

  <!-- search panel -->
  <div class="m-cat-search-wrapper">
    <ion-scroll zooming="true" direction="y" class="m-cat-search shop-detail-search" ng-class="{'activated': shopDetailModal.searchInputFocused}" animation-callback>
      <div style="height: 1000px;" class="m-cat-search-keywords">
        <search-list-keyword hot-keywords="shopDetailModal.hotKeywords" keywords="$root.search.keywords" search-input-focused="shopDetailModal.searchInputFocused"></search-list-keyword>
      </div>
    </ion-scroll>
  </div>
</ion-modal-view>
