<div class="m-collect-product-list-container">
  <!-- product list -->
  <ion-list can-swipe="true">
    <ion-item class="item item-thumbnail-left m-collect-product-item" ng-repeat="item in items track by $index" ng-click="doOpenDetail(item)">
      <img ng-src="{{ item.imagePath }}">
      <h2>{{ item.title }}</h2>
      <p>
        {{ item.brand }}
        <span class="m-search-list-item-amount">
          销量:
          <span class="m-search-list-item-amount-text">
            {{ item.salesAmount }}
          </span>
        </span>
      </p>
      <div class="m-search-list-item-prices">
        <span class="m-search-list-item-current-price">
            {{ item.cprice | currency: '￥' }} {{ item.unitName }}
        </span>
      </div>
      <cart-count item="item" show-remove-btn="false" smaller-size="true"></cart-count>
      <ion-option-button class="button-assertive" ng-click="remove(item)">
        删除
      </ion-option-button>
    </ion-item>
  </ion-list>
  <!-- no more content hint -->
  <no-more-content ng-if="hasInfinite && !isInfinite()"></no-more-content>
  <!-- infinite scroll -->
  <div class="m-collect-product-infinite" ng-if="hasInfinite">
    <ion-infinite-scroll ng-if="isInfinite()" icon="ion-loading-c" on-infinite="onInfinite()" distance="1%">
    </ion-infinite-scroll>
  </div>
</div>
