<div class="m-commodity-grid">
  <div class="m-commodity-grid-banner" style="background-image: url('{{ banner }}')">
    <a class="button button-clear button-small button-positive m-commodity-grid-banner-link" ng-click="doCheckMore()">更多></a>
  </div>
  <div class="m-commodity-grid-container">
    <div class="row row-no-padding m-commodity-grid-container-first">
      <div class="col col-50 m-commodity-grid-cell" ng-repeat="item in items.slice(0, 2) track by $index" ng-class="{'m-commodity-grid-cell-border': $index == 0}" ng-click="doOpenDetail(item)">
        <div class="row row-no-padding">
          <div class="col col-50 m-commodity-grid-cell-left">
            <div class="m-commodity-grid-cell-desc">
              <div class="m-commodity-grid-item-title">
                {{ item.title }}
              </div>
              <div class="m-commodity-grid-item-price">
                {{ item.cprice }}{{ item.unitName }}
              </div>
            </div>
          </div>
          <div class="col col-50 m-commodity-grid-item-first-img-container">
            <img class="m-commodity-grid-item-first-img" ng-src="{{ item.imagePath }}"/>
          </div>
        </div>
      </div>
  </div>
  <div class="row row-no-padding m-commodity-margin-top-zero m-commodity-border-bottom">
    <div class="col col-25 m-commodity-grid-cell2" ng-repeat="item in items.slice(2, 6) track by $index" ng-class="{'m-commodity-grid-cell-border': $index != 3}" ng-click="doOpenDetail(item)">
      <div class="m-commodity-grid-cell2-desc">
        <div class="m-commodity-grid-item2-title">
          {{ item.title }}
        </div>
        <div class="m-commodity-grid-item2-brand">
          {{ item.brand }}
        </div>
        <div class="m-commodity-grid-item2-price">
          {{ item.cprice }}{{ item.unitName }}
        </div>
      </div>
      <div class="m-commodity-grid-item2-img-container">
        <img class="m-commodity-grid-item2-img" ng-src="{{ item.imagePath }}"/>
      </div>
    </div>
  </div>
  <div class="row row-no-padding m-commodity-margin-top-zero">
    <div class="col col-25 m-commodity-grid-cell2" ng-repeat="item in items.slice(6, 10) track by $index" ng-class="{'m-commodity-grid-cell-border': $index != 3}" ng-click="doOpenDetail(item)">
      <div class="m-commodity-grid-cell2-desc">
        <div class="m-commodity-grid-item2-title">
          {{ item.title }}
        </div>
        <div class="m-commodity-grid-item2-brand">
          {{ item.brand }}
        </div>
        <div class="m-commodity-grid-item2-price">
          {{ item.cprice }}{{ item.unitName }}
        </div>
      </div>
      <div class="m-commodity-grid-item2-img-container">
        <img class="m-commodity-grid-item2-img" ng-src="{{ item.imagePath }}"/>
      </div>
    </div>
  </div>
</div>
