<div class="m-sec-killing-area-offset">
  <div class="m-sec-killing-area-title">
    <img src="img/seckilling/title.png"/>
  </div>
  <ion-scroll zooming="true" direction="x" style="width: 100%; height: 160px;" zooming="false" delegate-handle="seckilling-horizontal">
    <div class="m-sec-killing-area">
      <div class="m-sec-killing-area-items">
        <div class="m-sec-killing-area-item" ng-repeat="item in items track by $index">
          <item-remain-time time="item.deadline" prefix="剩余"></item-remain-time>
          <img class="m-sec-killing-item-img" ng-src="{{ item.imagePath }}"/>
          <div class="row m-sec-killing-item-prices m-no-padding">
            <div class="col col-50 m-sec-killing-item-current-price m-no-padding">
              {{ item.cprice | currency: '￥' }}/{{ item.unitName }}
            </div>
            <div class="col col-50 m-sec-killing-item-original-price m-no-padding">
              {{ item.oprice | currency: '￥' }}/{{ item.unitName }}
            </div>
          </div>
          <span class="m-sec-killing-item-name">{{ item.title }}</span>
        </div>
      </div>
    </div>
  </ion-scroll>
</div>
