<div class="m-order-list-container">

  <div class="m-order-list-item" ng-repeat="item in items | filter: search track by $index">
    <!-- order title -->
    <div class="row m-order-item-title">
      <div class="col col-67 m-order-item-id">
        {{ item.orderId }}
      </div>
      <div class="col col-33 m-order-item-status">
        {{ item.statusText }}
      </div>
    </div>

    <!-- suborders below -->
    <order-sub-list orders="item.subOrders" is-cart-mode="false"></order-sub-list>

    <!-- order summary area -->
    <div class="row row-no-padding m-order-item-summary">
      <div class="col col-offset-33 col-67">
        <div class="row row-no-padding" ng-if="item.money.total">
          <div class="col col-offset-20 col-50">
            订单总金额：
          </div>
          <div class="col col-33 m-order-item-total-amount">
            ¥ {{ item.money.total }}
          </div>
        </div>
        <div class="row row-no-padding" ng-if="item.money.actual">
          <div class="col col-offset-20 col-50">
            实际金额合计：
          </div>
          <div class="col col-33 m-order-item-total-amount">
            ¥ {{ item.money.actual }}
          </div>
        </div>
      </div>
    </div>

    <!-- order operations -->
    <order-operations item="item"></order-operations>

  </div>

</div>
