.m-auth-login {
    background-image: url('../img/auth/login-bg.png');
    background-size: 100%;
    background-position: 0 -80px;
}

.m-auth-login-logo {

}

.m-auth-login-logo img {
    max-width: 50%;
    margin: 80px auto;
    display: block;
}

.m-auth-login-inputs .item-input-inset {
    padding: 0;
    background-color: transparent;
    width: 85%;
    margin: 16px auto 0 auto;
    border: none;
}

.m-auth-login-inputs .item-input-inset.m-auth-login-inputs-password {
    margin-bottom: 20px;
}

.m-auth-login-inputs .item-input-inset.m-auth-login-inputs-code {
    padding-bottom: 20px;
}

.m-auth-login-inputs .item-input-inset .item-input-wrapper {
    background: rgba(255, 255, 255, 0.6);
    border: none;
    height: 45px;
    border-radius: 8px;
}

.m-auth-login-inputs .item-input-inset .item-input-wrapper input {
    width: 100%;
}

.m-auth-login-clear {
    position: absolute;
    right: 8px;
    top: 12px;
}

.m-auth-login-clear.m-auth-login-clear-mode2 {
    right: 35%;
}

.m-auth-login-switch {
    width: 90%;
    text-align: right;
    color: #333;
}

.m-auth-login-switch button {
    font-size: 1.0rem
}

.m-auth-login-btn {
    text-align: center;
    margin-top: 1.1rem;
}

.m-auth-login-btn button {
    width: 85%;
}

.m-auth-login-register {
    text-align: center;
    position: absolute;
    bottom: 4px;
    width: 100%;
}

.m-auth-login-code-btn {
    position: relative;
    left: 8px;
    font-size: 0.8rem;
    width: 90%;
    min-height: 44px;
}

.m-auth-login-code-btn span {
    position: relative;
    right: 4px;
}

.m-auth-login-code-sent {
    position: absolute;
    left: 36px;
    bottom: -2px;
    font-size: 0.8rem;
    color: #666;
}

/*register related*/
.m-auth-register {
    padding-top: 20px;
}

.m-auth-register-inputs .item-input-inset {
    padding: 0;
    background-color: transparent;
    width: 85%;
    margin: 16px auto 0 auto;
    border-radius: 8px;
}

.m-auth-register-inputs .item-input-inset .item-input-wrapper {
    background: rgba(255, 255, 255, 1);
    height: 45px;
}

.item-input-wrapper.m-auth-register-inputs-code-lbl {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.m-auth-register-inputs .item-input-inset.m-auth-register-inputs-code {
    border: none;
    padding-bottom: 20px;
}

.m-auth-register-inputs .item-input-inset .item-input-wrapper input {
    width: 100%;
}

.m-auth-register-check {
    margin: 32px auto 16px auto;
    padding-left: 8px;
}

.m-auth-register-check-term {
    text-align: left;
    padding: 4px 24px;
}

.m-auth-register-check-term-main {
    position: relative;
    bottom: 10px;
    left: 6px;
    font-weight: bold;
}

.m-auth-register-check-term .m-auth-register-check-term-text {
    color: #ffc900;
    padding-left: 8px;
}

.m-auth-register-btn {
    text-align: center;
}

.m-auth-register-btn button {
    width: 85%;
}

.m-auth-register-check-term .toggle-small {
    bottom: 7px;
}

.m-auth-register-check-term .toggle-small input:checked + .track .handle {
    background: #e6b500;
}

/*bind old user modal*/
.m-auth-bind-logo {

}

.m-auth-bind-logo img {
    max-width: 50%;
    margin: 10% auto 5% auto;
    display: block;
}

.m-auth-bind-inputs .item-input-inset {
    padding: 0;
    background-color: transparent;
    width: 85%;
    margin: 0 auto;
    border: none;
}

.m-auth-bind-inputs .item-input-inset .item-input-wrapper {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 8px;
}

.m-auth-bind-clear {
    position: absolute;
    right: 8px;
    top: 12px;
}

.m-auth-bind-inputs .item-input-inset.m-auth-bind-inputs-code {
    border: none;
    padding-bottom: 20px;
}

.m-auth-bind-btn {
    text-align: center;
    padding-top: 24px;
}

.m-auth-bind-btn button {
    width: 85%;
}

.m-auth-bind-phone-hint {
    width: 90%;
    margin: 0 auto;
}

.m-auth-bind-phone-hint .col-20 {
    text-align: center;
}

.m-auth-bind-hint-text {
    font-weight: bold;
    font-size: 1.0rem;
}

.m-auth-bind-hint-img {
    height: 40px;
}

.m-auth-bind-old-user-info {
    padding-top: 10px;
}

.m-auth-bind-old-user-accounts {
    text-align: center;
    padding-bottom: 20px;
}
