/*cart bottom component*/
.m-cart-bottom {
  position: absolute;
  bottom: 0;
  height: 50px;
}

/*cart count component*/
.m-cart-counts {
  padding: 5px;
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.m-cart-counts-plus img,
.m-cart-counts-minus img {
  width: 100%;
}

.m-cart-counts-minus,
.m-cart-counts-plus {
  height: 100%;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  bottom: 0.2rem;
}

.m-cart-counts-minus {
  background-image: url('../img/common/minus.png');
  background-size: 70%;
}

.m-cart-counts-plus {
  background-image: url('../img/common/plus.png');
  background-size: 70%;
}

.m-cart-counts-minus.activated {
  background-image: url('../img/common/minus-filled.png');
}

.m-cart-counts-plus.activated {
  background-image: url('../img/common/plus-filled.png');
}

.col.m-cart-counts-count {
  text-align: center;
  margin-bottom: 5%;
}

.col.m-cart-counts-count .m-cart-counts-count-input {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.m-cart-counts-delete {
  background-color: #ff0000;
  color: #fff;
  padding: 1rem 0.2rem;
}

.m-cart-operations .m-cart-operations-btn {
  display: flex;
  width: 50%;
  height: 50px;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*cart tab*/
.m-cart {
  background-color: #e8e8e8;
}

.m-cart-back-icon {
  position: absolute;
  left: 0;
  padding: 0 20px 0 0;
}

.m-cart-filters {
  top: 43px;
  position: relative;
}

.m-cart-filters.downing {
  top: 0;
}

.platform-ios.platform-cordova .m-cart-filters {
  top: 63px;
}

.platform-ios.platform-cordova .m-cart-filters.downing {
  top: 20px;
}

.has-header.m-cart {
  top: 86px;
  bottom: 106px;
}

.has-header.m-cart.downing {
  top: 43px;
}

/*bottom cart summary arae*/
.m-cart-summary {
  position: fixed;
  bottom: 48px;
}

.row.m-cart-summary {
  background-color: #fff;
  font-size: 0.8rem;
}

.item.m-cart-summary-select-all {
  border: none;
  padding: 16px 0 16px 16px;
}

.item.item-checkbox.m-cart-summary-select-all {
  padding-left: 50px;
  margin: 0;
}

.item.item-checkbox.m-cart-summary-select-all .checkbox {
  padding: 7px 0px;
}

.item.item-checkbox.m-cart-summary-select-all .item-content {
  display: inline-block;
  position: relative;
  top: 0.1rem;
  right: 0.2rem;
  font-size: 0.8rem;
}

.m-cart-total-amount {
  margin: 0 10px;
}

.m-cart-total-amount .m-cart-total-amount-text {
  color: #ff0000;
}

.m-cart-pay {
  font-size: 1.0rem;
  color: #fff;
}

/*cart summary in item detail*/
.m-cart-summary-component > span {
  display: block;
  text-align: center;
}

.m-cart-summary-component > span .icon {
  font-size: 2.0rem;
}

.m-cart-summary-component > span .badge {
  padding: 1px 5px;
  position: relative;
  bottom: 0.3rem;
  left: 0.3rem;
}

.m-cart-summary-component > span.m-cart-summary-component-amount {
  position: relative;
  bottom: 0.1rem;
}

/*customize back to top area*/
.m-cart-back-to-top.m-back-to-top-area.activated {
    bottom: 108px;
}

/*cart empty */
.m-cart-empty {
  background: #fff url('../img/empty/cart-empty.png') no-repeat fixed 50% 25%;
  background-size: 40%;
}

.m-cart .scroll {
  height: 100%;
}

.m-common-empty-word {
  margin-top: 10px;
}

@media screen and (max-height: 490px) {
  .m-cart-empty {
    background-size: 33%;
  }
}