/*categories*/
.m-cat-body {
    background-color: #f7f7f7;
}

.m-cat-options {
    position: relative;
    left: 6px;
}

.m-cat-filters {
    text-align: center;
    height: 42px;
    background-color: white;
    position: relative;
}

.m-cat-filters, .m-cat-filters-options, .m-cat-filters-option {
    z-index: 20;
}

.m-cat-filters-row {
    height: 26px;
    position: relative;
    top: 8px;
}

.m-cat-filters-col-border {
    border-right: 1px solid #e8e8e8;
}

/*backdrop*/
.m-cat-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 20000px;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
}

.m-cat-backdrop.activated,
.m-cat-backdrop.triggered {
    opacity: 1;
    visibility: visible;
}

/*item list area*/
.m-cat-main {
    position: relative;
    left: 0;
    top: 44px;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-search-list {
    padding-left: 36px;
}

/*item detail*/
.item.m-search-list-item {
    padding-bottom: 0;
}

.m-search-list-item-current-price {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.m-search-list-item-original-price {
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
}

.m-search-list-item-amount {
    padding-left: 8px;
}

.m-search-list-item-amount > .m-search-list-item-amount-text {

}

/*item detail controls*/
.m-search-list-item-controls {
    padding-top: 4px;
}

.m-search-list-item-controls-img {
    position: relative;
    top: 3px;
    font-size: 24px;
    color: #ffc900;
}

.m-search-list-item-controls-num {
    padding: 0 4px;
}

/*expand main scrollable area when downing*/
.m-cat-body.has-tabs.downing {
    bottom: 0;
}

.m-cat-main.expanded {
    left: 65px;
}

.m-cat-body .m-cat-body-loading {
    text-align: center;
}

.m-cat-options-bar {
    position: relative;
    top: 44px;
    z-index: 8;
    /*animation part*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.platform-ios.platform-cordova .m-cat-options-bar {
    top: 64px;
}

.m-cat-options-bar.downing {
    top: 0px !important;
}

.platform-ios.platform-cordova .m-cat-options-bar.downing {
    top: 20px;
}

/*search panel*/
.m-cat-search-form {
    display: flex;
    flex: 1 0;
}

.m-cat-search {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 25;
    opacity: 0;
    visibility: hidden;

    /*animation part*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.m-cat-search.activated {
    opacity: 1;
    visibility: visible;
}

.m-cat-search-cancel {
    position: relative;
    left: 5px;
}

.m-cat-body-loading {
    text-align: center;
}

.platform-ios.platform-cordova .m-cat-search.scroll-view.ionic-scroll.scroll-y.activated {
    top: 64px;
}



