/*categories*/
.m-cat-body {
    background-color: #f7f7f7;
}

.m-cat-options {
    position: relative;
    left: 6px;
}

.m-cat-filters {
    text-align: center;
    height: 42px;
    background-color: white;
    position: relative;
}

.m-cat-filters, .m-cat-filters-options, .m-cat-filters-option {
    z-index: 20;
}

.m-cat-filters-row {
    height: 26px;
    position: relative;
    top: 8px;
}

.button-clear.m-cat-filters-text {
    color: black;
    font-size: 14px;
}

.button-clear.m-cat-filters-text.text-activated {
    color: orange;
    font-weight: bold;
}

.m-cat-filters-col-border {
    border-right: 1px solid #e8e8e8;
}

.m-cat-down-icon {
    position: relative;
    top: 2px;
    left: 2px;
    font-size: 6px;
}

.m-cat-filters-options {
    position: relative;
}

.list.m-cat-filters-options-list {
    height: 0px;
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 40px;
    visibility: hidden;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.list.m-cat-filters-options-list.activated {
    opacity: 1;
    bottom: 0;
    visibility: visible;
}

.item.m-cat-filters-option {
    padding: 10px;
    font-size: 14px;
}

.icon.m-cat-filters-option-icon {
    font-size: 20px;
}

.m-cat-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 2000px;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
}

.m-cat-backdrop.activated {
    opacity: 1;
    visibility: visible;
}

.scroll-content.m-cat-screen-container-scroll {
    top: 46px;
    padding: 10px;
    background-color: white;
}

.scroll-content.m-cat-screen-container-scroll.activated {
    top: 86px;
}

.m-cat-screen-options-area {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 40px;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-cat-screen-options-area.activated {
    opacity: 1;
    bottom: 0;
    visibility: visible;
}

.m-cat-screen-container {

}

.m-cat-screen-container.activated {

}

.m-cat-screen-brands, .m-cat-screen-attrs {

}

.m-cat-screen-brands-title, .m-cat-screen-attrs-title {
    color: #999;
    padding: 5px 0;
}

.m-cat-screen-brands-items {

}

.m-cat-screen-brands-item, .m-cat-screen-attrs-item {
    padding: 10px;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 10px;
    margin: 4px;
    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-cat-screen-brands-item.selected, .m-cat-screen-attrs-item.selected {
    background-color: #D6A900;
    border-color: #D6A900;
    color: white;
}

.m-cat-screen-attrs-items {

}

.m-cat-screen-reset {
    display: block;
    margin: 10px auto;
}

.m-cat-screen-confirm {

}

/*item list area*/

/*menu related*/
.m-cat-menu-content {
    position: absolute;
    top: 87px;
    width: 36px;
}

.m-cat-menu-content.activated {
    width: 130px;
}

.m-cat-menu {
    height: auto;
    width: 30px;
    position: fixed;
    z-index: 12;
    overflow-y: visible;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-cat-menu.activated {
    width: 100px;
}

.m-cat-menu .m-cat-menu-container {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: relative;
    right: 100px;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-cat-menu.activated > .m-cat-menu-container {
    opacity: 1;
    visibility: visible;
    position: relative;
    right: 0;
}

.m-cat-menu-bar {
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 16px;
}

.m-cat-menu > .m-cat-menu-hint {
    position: fixed;
    top: 250px;
    left: 5px;
    padding: 10px;
    font-size: 18px;
}

.m-cat-menu.activated > .m-cat-menu-hint {
    display: none;
}

.m-cat-menu-bar-return {
    display: block;

}

.m-cat-menu-bar-item.m-cat-menu-bar-item-return {
    display: block;
}

.m-cat-menu-bar-item {
    background-color: white;
    padding: 4px;
    border-bottom: 1px solid #999;
    min-height: 50px;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-cat-menu-bar-item.activated {
    background-color: #D6A900;
    color: white;
}

.m-cat-menu-bar-item-title {
    padding: 10px 0;
}

.m-cat-menu-bar-item-title.invisible {
    opacity: 0;
    border-bottom: none;
}

.m-cat-menu-bar-hide {
    padding: 10px;
}

.m-cat-menu-bar-hide-text {
    padding-left: 4px;
}

.m-cat-menu-hide-wrapper {
    padding-top: 5px;
}

.m-cat-main {
    position: relative;
    left: 0;
    top: 44px;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-search-list {
    padding-left: 36px;
}

.m-cat-to-top-area {
    position: fixed;
    right: 15px;
    bottom: -50px;

    /*animation part*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.m-cat-to-top-area.activated {
    bottom: 50px;
}

.m-cat-to-top-area > img {
    width: 45px;
}

/*item detail*/
.item.m-search-list-item {
    padding-bottom: 8px;
}

.m-search-list-item-current-price {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.m-search-list-item-original-price {
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
}

.m-search-list-item-amount {
    padding-left: 8px;
}

.m-search-list-item-amount > .m-search-list-item-amount-text {

}

/*item detail controls*/
.m-search-list-item-controls {
    padding-top: 4px;
}

.m-search-list-item-controls-img {
    position: relative;
    top: 3px;
    font-size: 24px;
    color: #ffc900;
}

.m-search-list-item-controls-num {
    padding: 0 4px;
}

/*expand main scrollable area when downing*/
.m-cat-body.has-tabs.downing {
    bottom: 0;
}

.m-cat-main.expanded {
    left: 65px;
}

.m-cat-options-bar {
    position: relative;
    top: 44px;

    /*animation part*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.m-cat-options-bar.downing {
    top: 0;
}



