/*filter tabs*/
.m-filter-tabs {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justfity-content: center;
    background-color: #fff;
}

.m-filter-item {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    opacity: 0.5;
    padding: 10px 0;
}

.m-filter-item.active {
    border-bottom: 2px solid #ffc900;
    opacity: 1;
}

.m-filter-item span {

}

/*modal animation*/
.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

/*popup msg*/
.m-msg-cong {
  text-align: center;
}

.m-msg-cong img {
  width: 50px;
}

.m-msg-cong span {
  display: block;
}

.m-msg-cong .m-msg-cong-title {
  font-weight: bold;
  padding-bottom: 8px;
}

/*sorter related*/
.m-sort-down-icon,
.m-screen-down-icon {
    position: relative;
    left: 2px;
    font-size: 8px;
}

.button-clear.m-sorter-text,
.button-clear.m-screener-text {
    color: black;
    font-size: 14px;
}

.button-clear.m-sorter-text.text-activated {
    color: orange;
    font-weight: bold;
}

.m-sorter-options {
    position: relative;
}

.list.m-sorter-options-list {
    height: 0px;
    width: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.list.m-sorter-options-list.activated {
    opacity: 1;
    top: 86px;
    visibility: visible;
}

.item.m-sorter-option {
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.icon.m-sort-option-icon {
    font-size: 20px;
}

/*screen related*/
.scroll-content.m-screen-container-scroll {
    top: 46px;
    padding: 10px;
    background-color: white;
}

.scroll-content.m-screen-container-scroll.activated {
    top: 37px;
    z-index: 100;
    height: 200px;
}

.m-screen-options-area {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 40px;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-screen-options-area.activated {
    opacity: 1;
    bottom: 0;
    visibility: visible;
}

.m-screen-container {

}

.m-screen-container.activated {

}

.m-screen-tag-title {
    color: #999;
    padding: 5px 0;
}

.m-screen-tag-items {
  text-align: left;
}

.m-screen-tag-item {
    padding: 10px;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 10px;
    margin: 4px;
    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-screen-tag-item.selected {
    background-color: #D6A900;
    border-color: #D6A900;
    color: white;
}

.m-screen-reset {
    display: block;
    margin: 10px auto;
}

.m-screen-confirm {

}

/*menu related*/
.m-cat-menu-content {
    position: absolute;
    top: 87px;
    width: 36px;
}

.m-cat-menu-content.downing {
    top: 45px;
}

.platform-ios.platform-cordova .has-header.m-cat-menu-content {
    top: 107px;
}

.platform-ios.platform-cordova .has-header.m-cat-menu-content.downing {
    top: 65px;
}

.m-cat-menu-content.activated {
    width: 100px;
}

.m-cat-menu {
    height: auto;
    width: 30px;
    position: fixed;
    z-index: 12;
    overflow-y: visible;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-cat-menu.activated {
    width: 100px;
}

.m-cat-menu .m-cat-menu-container {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: relative;
    right: 100px;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-cat-menu.activated > .m-cat-menu-container {
    opacity: 1;
    visibility: visible;
    position: relative;
    right: 0;
}

.m-cat-menu-bar {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.m-cat-menu-hint {
    position: fixed;
    top: 50%;
    left: 5px;
    padding: 10px;
    font-size: 18px;
}

.m-cat-menu-hint.activated {
    opacity: 0;
}

.m-cat-menu.activated > .m-cat-menu-hint {
    display: none;
}

.m-cat-menu-bar-return {
    display: block;

}

.m-cat-menu-bar-item.m-cat-menu-bar-item-return {
    display: block;
}

.m-cat-menu-bar-item {
    background-color: white;
    padding: 4px;
    border-bottom: 1px solid #999;
    min-height: 50px;
    height: 50px;

    /*animation part*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.m-cat-menu-bar-item.activated {
    background-color: #D6A900;
    color: white;
}

.m-cat-menu-bar-item-title {
    padding: 10px 0;
}

.m-cat-menu-bar-item-title.invisible {
    opacity: 0;
    border-bottom: none;
}

.m-cat-menu-bar-hide {
    padding: 10px;
}

.m-cat-menu-bar-hide-text {
    padding-left: 4px;
}

.m-cat-menu-hide-wrapper {
    padding-top: 5px;
}
