.m-sales-area {
    height: 100px;

    /*bg image*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    position: relative;
}

.m-sales-area .m-sales-area-title {
    /*title*/
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(0, -50%);
    font-size: 20px;
}

/*sec killing*/
.m-sec-killing-area {
    width: 1650px;
}

.m-sec-killing-area-title {
    margin: 0 10px;
}

.m-sec-killing-area-title img {
    width: 100%;
}

/*seckilling*/
.m-sec-killing-area-item {
    display: inline-block;
    width: 160px;
    text-align: center;
    background-color: white;
    margin: 0 2px;
}

.m-sec-killing-item-remain-time {

}

.m-sec-killing-item-img {
    width: 90%;
}

.m-sec-killing-item-prices {

}

.m-sec-killing-item-current-price {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.m-sec-killing-item-original-price {
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
}

.m-sec-killing-item-name {
    display: block;
    margin: 5px 0;
    font-weight: bold;
    font-size: 16px;
}