.m-sales-area {
    height: 85px;

    /*bg image*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    position: relative;
}

.m-sales-area .m-sales-area-title {
    /*title*/
    position: absolute;
    top: 40%;
    left: 4%;
    font-size: 20px;
    font-weight: bold;
}

/*sec killing*/
.m-sec-killing-area {
    width: 1600px;
}

.m-sec-killing-area-title {
    padding: 0 10px 10px 10px;
}

.m-sec-killing-area-title img {
    width: 100%;
}

.m-sec-killing-area-offset {
    position: relative;
    top: 6px;
    background-color: white;
    padding-top: 12px
}

.m-sec-killing-area-item {
    display: inline-block;
    width: 160px;
    text-align: center;
    background-color: white;
    border-right: 1px solid #e8e8e8;
}

.m-sec-killing-item-remain-time {

}

.m-sec-killing-item-img {
    width: 50%;
}

.m-sec-killing-item-prices {

}

.m-sec-killing-item-current-price {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.m-sec-killing-item-original-price {
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
}

.m-sec-killing-item-name {
    display: block;
    margin: 5px 0;
    font-weight: bold;
    font-size: 16px;
}

/*recommend list*/
.m-recommend-area-scroll {
    width: 100%;
    height: 150px;
}

.m-recommend-area {
    width: 1600px;
}

.m-recommend-area-item {
    display: inline-block;
    width: 160px;
    background-color: white;
    position: relative;
    padding: 4px;
    height: 140;
    max-height: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.m-recommend-area-item.m-recommend-area-item-border {
    border-right: 1px solid #e8e8e8;
}

.m-recommend-item-img-container {
    text-align: center;
}

.m-recommend-item-img {
    width: 55%;
}

.m-recommend-item-current-price {
    color: red;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
}

.m-recommend-item-name {
    font-weight: bold;
    font-size: 16px;
    padding-left: 4px;
    display: block;
}

.m-recommend-item-fav {
    background-image: url('../img/mine/fav.png');
    background-size: 100%;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 6px;
    top: 75px;
}

/*grid items*/
.m-commodity-grid {
    margin: 10px 0;
}

.m-commodity-grid-banner {
    text-align: center;
    height: 40px;
    background-size: 100%;
    background-repeat: repeat;
    margin-bottom: 10px;
}

.m-commodity-grid-banner-img {
    height: 50px;
    position: relative;
    right: 48px;
}

.m-commodity-grid-banner-link {
    float: right;
    position: relative;
    top: 4px;
    right: 2px;
}

.m-commodity-grid-container {
    position: relative;
    right: 2px;
}

.m-commodity-grid-container-first {
    height: 100px;
    border-bottom: 1px solid #e8e8e8;
}

.m-commodity-grid-cell {
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    height: 100px;
}

.m-commodity-border-bottom {
    border-bottom: 1px solid #e8e8e8;
}

.m-commodity-grid-cell.m-commodity-grid-cell-border,
.m-commodity-grid-cell2.m-commodity-grid-cell-border,
.m-sales-area.m-sales-area-border {
    border-right: 1px solid #e8e8e8;
}

.m-commodity-grid-cell-left {
    position: relative;
    left: 4px;
}

.m-commodity-grid-cell-desc {
    padding: 5px 0 0 2px;
}

.m-commodity-grid-item-title {
    max-height: 60px;
    overflow: hidden;
}

.m-commodity-grid-item-price, .m-commodity-grid-item2-price {
    color: red;
    font-weight: bold;
}

.row-no-padding > .col.m-commodity-grid-item-first-img-container {
    padding: 0 4px;
}

.m-commodity-grid-item-first-img {
    width: 100%;
    height: 95px;
}

/*second row*/
.m-commodity-grid-cell2 {
    background-color: white;
}

.m-commodity-grid-item2-img-container {
    padding: 6px;
}

.m-commodity-grid-item2-img {
    width: 100%;
}

.m-commodity-grid-cell2-desc {
    padding: 2px 0 0 6px;
}

.row.m-commodity-margin-top-zero {
    margin-top: 0;
}

/*notification list*/
.m-notification-list {

}

.m-notification-list-item-container .m-notification-list-item-time {
    height: 40px;
    text-align: center;
    padding: 10px;
    background-color: #e8e8e8;
}

.m-notification-list-item-content {
    padding: 10px;
}

.m-notification-list-item-content span {
    display: block;
}

.m-notification-list-item-content-link {
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid #e8e8e8;
    text-align: right;
}

/* empty content */
.m-notification-empty {
    background: #fff url('../img/empty/noti-empty.png') no-repeat fixed 50% 45%;
    top: 90px !important;
}

.m-coupon-empty {
    background: #fff url('../img/empty/noti-empty.png') no-repeat fixed 50% 45%;
    top: 90px !important;
}

/*no more content*/
.m-no-more-content {
    padding-left: 36px;
    text-align: center;
    padding-top: 0.8rem;
    color: #666;
}


