.m-modal-item-detail {
  bottom: 50px;
  background-color: #e8e8e8;
}

.m-modal-item-detail-title,
.m-modal-item-detail-spec,
.m-modal-item-detail-review,
.m-modal-item-detail-shop {
  background-color: #fff;
  margin-bottom: 4px;
  padding: 10px;
}

.m-modal-item-detail-title {
  position: relative;
  bottom: 5px;
  margin-bottom: 0;
}

.m-modal-item-detail-title-row1-text h4 {
  position: relative;
  top: 0.3rem;
}

/*price area*/
.m-modal-item-detail-title .m-modal-item-detail-title-row2 .m-modal-item-detail-title-row2-price {
  font-size: 1.6rem;
  color: #ff0000;
}

.m-modal-item-detail-title .m-modal-item-detail-title-row2 {
  display: flex;
  align-items: center;
}

.m-modal-item-detail-title-row2-ns {
  margin-left: 20px;
}

.m-modal-item-detail-title-row2-reserve {
  margin-left: 4px;
}

.m-modal-item-detail-title-row2-ns img,
.m-modal-item-detail-title-row2-reserve img {
  width: 3.0rem;
}

.m-modal-item-detail-title-row3 {
  color: #8e8e8e;
  padding-top: 0.5rem;
}

/*spec area*/
.m-modal-item-detail-spec-text span,
.m-modal-item-detail-spec-place span,
.m-modal-item-detail-spec-attr span {
  display: inline-block;
  width: 25%;
}

.m-modal-item-detail-spec-text,
.m-modal-item-detail-spec-place,
.m-modal-item-detail-spec-attr {
  font-weight: bold;
}

.m-modal-item-detail-spec-reserve {
  padding-top: 0.8rem;
  font-size: 0.6rem;
  color: #3e3e3e;
}

.m-modal-item-detail-spec-reserve .m-modal-item-detail-spec-reserve-key {
  font-weight: bold;
}

/*review area*/
.m-modal-item-detail-review-title {
  padding-bottom: 0.5rem;
}

.m-modal-item-detail-review-title span {
  font-weight: bold;
  font-size: 1.0rem;
}

.m-modal-item-detail-review-title .icon,
.m-modal-item-detail-shop-title-link .icon {
  color: #999;
}

.m-modal-item-detail-review-title .icon {
  float: right;
}

.m-modal-item-detail-review.activated {
  border-color: #ccc;
  background-color: #d9d9d9;
}

.m-modal-item-detail-review-summary {
  font-weight: bold;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #e8e8e8;
}

.m-modal-item-detail-review-summary-rate {
  color: #ff0000;
}

.m-modal-item-detail-review-summary-number {
  color: #8e8e8e;
  padding-left: 1.0rem;
}

.m-modal-item-detail-review-sample {
  padding-top: 0.7rem;
}

.m-modal-item-detail-review-sample-info span {
  display: inline-block;
  color: #8e8e8e;
}

.m-modal-item-detail-review-sample-info-phone {
  width: 30%;
}

.m-modal-item-detail-review-sample-content {
  padding-top: 0.2rem;
}

.m-modal-item-detail-shop-title.activated {
  border-color: #ccc;
  background-color: #d9d9d9;
}

.m-modal-item-detail-shop-title-brand img {
  max-width: 100%;
  margin: 4px;
}

.row-no-padding > .col.m-modal-item-detail-shop-title-info {
  padding: 1.0rem;
  position: relative;
  top: 0.4rem;
}

.m-modal-item-detail-shop-title-info span {
  display: block;
}

.m-modal-item-detail-shop-title-info-open {
  font-size: 0.6rem;
  color: #8e8e8e;
}

.m-modal-item-detail-shop-title-info span.m-modal-item-detail-shop-title-link {
  display: inline;
  float: right;
  position: relative;
  bottom: 2.0rem;
}

/*rating area*/
.m-modal-item-detail-shop-ratings-item {
  text-align: center;
}

.m-modal-item-detail-shop-ratings-item.m-modal-item-detail-shop-ratings-item-border-right {
  border-right: 1px solid #e8e8e8;
}

.m-modal-item-detail-shop-rating-item-score {
  font-weight: bold;
}

/*links area*/
.m-modal-item-detail-shop-links {
  padding-top: 1.0rem;
  text-align: center;
}

.m-modal-item-detail-shop-links button {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

/*details area*/
.m-item-detail-images .m-item-detail-image img {
  max-width: 100%;
}

.m-modal-item-detail-raw-html img {
  max-width: 100% !important;
}

/* item review modal view */
.m-item-review-body {
  bottom: 50px;
}

.m-item-review-list {
  padding: 0 3%;
}

.m-item-review-item {
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
}

.m-item-review-item .m-item-review-p {
  margin: 8px 0 0 0;
}

.m-item-rivew-date {
  color: #999;
  font-size: 0.9em;
}

.m-item-review-pinfo img {
  border: 1px solid #ccc;
  width: 12%;
  margin-right: 6px;
}

.m-item-review-pinfo img, .m-item-review-pinfo span {
  vertical-align: middle;
}

/* add review modal view */
.m-review-add-body {
  background-color: #eee;
  padding: 1px 10px;
}

.m-review-add-item-product {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.m-review-add-item {
  background-color: #fff;
  margin: 5px auto;
}

.m-item-product-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.m-item-product-text span {
  display: block;
}

.m-item-product img {
  border: 1px solid #eee;
  width: 20%;
}

.m-item-product img, .m-item-product span {
  vertical-align: middle;
}

.m-review-rating-area {
  margin-top: 10px;
}

.m-review-rating-area .m-review-rating-text {
  width: 100%;
  border: 1px solid #eee;
  padding: 8px;
  min-height: 80px;
  resize: none;
}

.m-rating-item-radio {
  text-align: center;
}

.m-rating-item-radio .item-radio {
  border: 0;
  min-height: 40px;
}

.m-rating-item-radio .item-radio .item-content {
  padding: 10px;

  border: 0;
  background: transparent;
}

.item-rating-high {
  background: url('../img/common/high.png') no-repeat center;
  background-size: 40px;
}

.item-rating-medium {
  background: url('../img/common/medium.png') no-repeat center;
  background-size: 40px;
}

.item-rating-low {
  background: url('../img/common/low.png') no-repeat center;
  background-size: 40px;
}

.m-rating-item-radio.active {
  color: #ffc900;
}

.m-rating-item-radio.active .item-rating-high {
  background-image: url('../img/common/high-on.png');
}

.m-rating-item-radio.active .item-rating-medium {
  background-image: url('../img/common/medium-on.png');
}

.m-rating-item-radio.active .item-rating-low {
  background-image: url('../img/common/low-on.png');
}

.m-review-add-item-shop {
  padding: 15px 10px;
}

/* review star directive */
.m-review-star {
  background: url('../img/common/star-outline.png') no-repeat center;
  background-size: 30px;
  min-height: 30px;
  min-width: 30px;
  display: inline-block;
  margin-right: 5px;
}

.m-review-star.selected {
  background-image: url('../img/common/star-selected.png')
}

.m-item-review-star-text {
  line-height: 30px;
  vertical-align: middle;
}

.m-item-review-star-row, .m-item-review-star-row .col {
  padding-left: 0;
}

.m-item-review-star-rating {
  text-align: right;
}

@media screen and (max-width: 320px) {
    .m-review-star {
      background-size: 25px;
      min-height: 25px;
      min-width: 25px;
      margin-right: 3px;
    }
}

/*bottom direct buy area*/
.m-bottom-direct-buy {
  position: absolute;
  bottom: -230px;
  opacity: 1;
  width: 100%;

  /*animation part*/
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.m-bottom-direct-buy.activated {
  bottom: 0;
  opacity: 1;
}

.m-bottom-direct-buy-close {
  height: 40px;
}

.m-bottom-direct-buy .item-icon-left .icon:before,
.m-bottom-direct-buy .item-icon-right .icon:before {
  font-size: 24px;
}

.item-note.m-bottom-direct-buy-price {
  color: #000;
  font-weight: bold;
}

.m-bottom-direct-buy-counters {
  position: absolute;
  right: -52px;
  bottom: 4px;
}

.item.m-bottom-direct-buy-confirm {
  padding: 6px;
}

.item.m-bottom-direct-buy-confirm .button.button-block {
  margin: 4px auto;
}
