/*personal info*/
.m-modal-mine-pinfo .m-modal-mine-avatar img {
    width: 80px;
    float: right;
    border-radius: 100px;
    border: 1px solid #e8e8e8;
}

.m-modal-mine-pinfo .m-modal-mine-avatar span {
    display: inline-block;
    padding: 30px 0;
}

.m-modal-mine-pinfo .ion-chevron-right {
    font-size: 16px;
    color: #aaa;
}

/*my deposit*/
.m-modal-mine-deposit {
    background-color: #e8e8e8;
}

.m-modal-mine-deposit-banner {
    text-align: center;
    padding: 30px 0;
    background-color: #fff;
}

.m-modal-mine-deposit-banner-text {
    padding-top: 10px;
    font-size: 18px;
}

.m-modal-mine-deposit-banner-text .icon {
    color: #aaa;
    padding-left: 8px;
}

.m-modal-mine-deposit-banner-num {
    font-size: 32px;
    font-weight: bold;
    padding-top: 8px;
}

.m-modal-mine-deposit-details {

}

.m-mine-deposit-list {

}

.m-mine-deposit-list-item {
    background-color: #fff;
    margin: 6px 0;
}

.m-mine-deposit-list-item-order, .m-mine-deposit-list-item-time {
    display: block;
}

.m-mine-deposit-list-item-amount-container {
    padding: 15px 0;
}

.m-mine-deposit-list-item-amount {
    font-weight: bold;
}

.m-mine-deposit-list-item-amount.m-mine-deposit-list-item-amount-in {
    color: green;
}

.m-mine-deposit-list-item-amount.m-mine-deposit-list-item-amount-out {
    color: red;
}

/*my coupon*/
.m-modal-mine-coupon {
    background-color: #e8e8e8;
}

.m-modal-mine-coupon-item {
    margin-bottom: 10px;
    background-color: #fff;
}

.m-modal-mine-coupon-item-image-row1 {
    height: 76px;
}

.m-modal-mine-coupon-item-image {
    background-image: url('../img/mine/coupon-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.m-modal-mine-coupon-item-image .m-modal-mine-coupon-item-money {
    padding: 18px 0;
}

.m-modal-mine-coupon-item-image .m-modal-mine-coupon-item-money span {
    font-size: 20px;
    font-weight: bold;
}

.m-modal-mine-coupon-item-usage {
    text-align: center;
    padding: 10px 0;
}

.m-modal-mine-coupon-item-usage span {
    display: block;
}

.m-modal-mine-coupon-item-range {
    border-top: 1px solid #e8e8e8;
    padding: 10px;
    color: #8e8e8e;
}

.m-modal-mine-coupon-item-text {
    padding: 10px;
}

.m-modal-mine-coupon-item-text span {
    display: block;
}

.m-modal-mine-coupon-item-text .m-modal-mine-coupon-item-title {
    font-weight: bold;
}

.m-modal-mine-coupon-item-text .m-modal-mine-coupon-item-explain {
    padding-top: 8px;
    color: #8e8e8e;
}

/*mine config*/
.m-mine-config .ion-chevron-right {
    font-size: 16px;
    color: #aaa;
}

/*mine address*/
.m-modal-mine-address .ion-chevron-right {
    font-size: 16px;
    color: #aaa;
}

.m-modal-mine-address-item-main {
    white-space: normal;
}

.m-modal-mine-address-item-row1 {
    margin-bottom: 6px;
}

.m-modal-mine-address-item-row1 .m-modal-mine-address-item-phone {
    float: right;
}

.m-modal-mine-address-item-row2 .m-modal-mine-address-item-default {
    color: red;
}

.m-modal-mine-address-item-cellphone {
    padding-right: 20px;
}

.item-input input.m-modal-mine-address-detail-phone-area {
    max-width: 40px;
    padding-right: 0;
}

.m-modal-mine-address-detail-phone-dash {
    padding: 0 8px;
}

.item-input input.m-modal-mine-address-detail-phone-fixed {
    padding-left: 16px;
}

