/*personal info*/
.m-modal-mine-pinfo .m-modal-mine-avatar img {
    width: 80px;
    height: 80px;
    float: right;
    border-radius: 100px;
    border: 1px solid #e8e8e8;
}

.m-modal-mine-pinfo .m-modal-mine-avatar span {
    display: inline-block;
    padding: 30px 0;
}

.m-modal-mine-pinfo .ion-chevron-right {
    font-size: 16px;
    color: #aaa;
}

/*my deposit*/
.m-modal-mine-deposit {
    background-color: #e8e8e8;
}

.m-modal-mine-deposit-banner {
    text-align: center;
    padding: 30px 0;
    background-color: #fff;
}

.m-modal-mine-deposit-banner-text {
    padding-top: 10px;
    font-size: 18px;
}

.m-modal-mine-deposit-banner-text .icon {
    color: #aaa;
    padding-left: 8px;
}

.m-modal-mine-deposit-banner-num {
    font-size: 32px;
    font-weight: bold;
    padding-top: 8px;
}

.m-modal-mine-deposit-details {

}

.m-mine-deposit-list {

}

.m-mine-deposit-list-item {
    background-color: #fff;
    margin: 6px 0;
}

.m-mine-deposit-list-item-order, .m-mine-deposit-list-item-time {
    display: block;
}

.m-mine-deposit-list-item-amount-container {
    padding: 15px 0;
}

.m-mine-deposit-list-item-amount {
    font-weight: bold;
}

.m-mine-deposit-list-item-amount.m-mine-deposit-list-item-amount-in {
    color: green;
}

.m-mine-deposit-list-item-amount.m-mine-deposit-list-item-amount-out {
    color: red;
}

.m-common-empty-container.m-deposit-list-empty {
    top: 140px;
}

/*my coupon*/
.m-modal-mine-coupon {
    background-color: #e8e8e8;
}

.m-modal-mine-coupon-item {
    margin-bottom: 10px;
    background-color: #fff;
}

.m-modal-mine-coupon-item-image-row1 {
    height: 76px;
}

.m-modal-mine-coupon-item-image {
    background-image: url('../img/mine/coupon-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.m-modal-mine-coupon-item-image .m-modal-mine-coupon-item-money {
    padding: 18px 0;
}

.m-modal-mine-coupon-item-image .m-modal-mine-coupon-item-money span {
    font-size: 20px;
    font-weight: bold;
}

.m-modal-mine-coupon-item-usage {
    text-align: center;
    padding: 10px 0;
}

.m-modal-mine-coupon-item-usage span {
    display: block;
}

.m-modal-mine-coupon-item-range {
    border-top: 1px solid #e8e8e8;
    padding: 10px;
    color: #8e8e8e;
}

.m-modal-mine-coupon-item-text {
    padding: 10px;
}

.m-modal-mine-coupon-item-text span {
    display: block;
}

.m-modal-mine-coupon-item-text .m-modal-mine-coupon-item-title {
    font-weight: bold;
}

.m-modal-mine-coupon-item-text .m-modal-mine-coupon-item-explain {
    padding-top: 8px;
    color: #8e8e8e;
}

/*mine config*/
.m-mine-config .ion-chevron-right {
    font-size: 16px;
    color: #aaa;
}

.m-mine-config-spacer {
    height: 40px;
}

.m-mine-config-logout {
    text-align: center;
}

/*change password*/
.m-modal-mine-security-change-pwd-code-btn {
    position: relative;
    right: 40px;
    width: 100px;
}

/*mine address*/
.m-modal-mine-address .ion-chevron-right {
    font-size: 16px;
    color: #aaa;
}

.m-modal-mine-address-item-checkbox {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    min-width: 2.8rem;
}

.m-modal-mine-address-item-checkbox > label {
    border: none;
}

.m-modal-mine-address-item {
    border-left: none;
}

.m-modal-mine-address-item-main {
    font-size: 14px;
    white-space: normal;
}

@media screen and (min-width: 350px) {
    .m-modal-mine-address-item-main {
        font-size: 16px;
    }
}

.m-modal-mine-address-item-row1 {
    margin-bottom: 6px;
}

.m-modal-mine-address-item-row1 .m-modal-mine-address-item-phone {
    float: right;
}

.m-modal-mine-address-item-row2 .m-modal-mine-address-item-default {
    color: red;
}

.m-modal-mine-address-item-cellphone {
    padding-right: 20px;
}

.item-input input.m-modal-mine-address-detail-phone-area {
    max-width: 40px;
    padding-right: 0;
}

.m-modal-mine-address-detail-phone-dash {
    padding: 0 8px;
}

.item-input input.m-modal-mine-address-detail-phone-fixed {
    padding-left: 16px;
}

/*mine receipt*/
.m-modal-mine-receipt-body {
    padding: 0 10px;
}
.m-modal-mine-receipt-head {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.m-modal-mine-receipt-head-right {
    float: right;
}

.m-modal-mine-receipt-item {
    border-bottom: 1px solid #ccc;
}

.m-modal-mine-receipt-item-info-name {
    margin: 8px 0;
}

.m-modal-mine-receipt-item-info-term {
    float: right;
}

.m-modal-mine-receipt-item-info-text span {
    font-size: 12px;
    color:#333;
    margin-right: 7px;
}

.m-modal-mine-receipt-add {
    line-height: 20px;
}

.m-modal-mine-receipt-add-head h4 {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 100%;
    line-height: inherit;
    border: 1px solid #ddd;
}

.m-modal-mine-receipt-usual-head-bottom {
    height: 5px;
    background: #eee;
}

.m-modal-mine-receipt-license {
    color: inherit;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    display: inline-flex;
    text-align: center;
    color: #ddd;
    justify-content: center;
}

.m-modal-mine-receipt-license i {
    width: 100%;
    height: 78px;
    display: block;
    font-size: 55px;
}

.m-modal-mine-receipt-add .list .item:last-child {
    border-bottom: 0;
}

.item .row, .item .row .col {
    padding-left: 0;
    margin-right: 3px;
}

.m-modal-mine-receipt-license-img {
    width: 100%;
    height: 100%;
    min-height: 78px;
    max-height: 80px;
}

.my-receipt-empty {
    top: 90px !important;
    background: #fff url('../img/empty/receipt-empty.png') no-repeat fixed 50% 45%;
    background-size: 45% !important;
}

/*apply service*/
.m-modal-mine-apply-service-bar-footer, .m-modal-mine-apply-service-bar-footer .button {
   padding: 0;
   margin: 0;
}

.m-item-input {
    padding: 6px 16px 10px 16px;
    color: #444;
}

.m-item .item-input {
    border: 0;
}

.m-item-input textarea {
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    height: 140px;
    padding: 15px 10px;
}

.m-item-input div {
    padding-left: 0;
}

/*my collect*/
.m-modal-mine-collect-content .scroll {
    height: 100%;
}

.m-modal-mine-collect-view .bar-header {
    display: flex;
    z-index: 15;
}

.m-modal-mine-collect-view .m-header-buttons {
    flex:2;
}

.m-modal-mine-collect-view .buttons {
    flex:1;
}

.m-modal-mine-collect-view .buttons:first-child {
    text-align: left;
}

.m-modal-mine-collect-view .buttons:last-child .button {
    text-align: right;
    position: absolute;
    right: 10px;
}

.m-modal-mine-shop-all .m-collect-product-list-container {
    padding-left: 36px;
    transition: all 0.2s ease-in-out;
    margin-top: 42px;
}

.fixed-top {
    top: 44px !important;
}

.platform-ios.platform-cordova .fixed-top {
    top: 64px !important;
}

/*make sure the filters are invisible*/
.platform-ios.platform-cordova .fixed-top.downing {
    top: 20px !important;
}

.fixed-top .m-sorter-options-list {
    top: 86px !important;
}

.m-collect-product-list-container .list, .m-collect-shop-list-container .list {
    background: #e8e8e8;
}

.m-collect-product-list-container .list .item {
    margin: 5px;
    border: 0;
}

.m-collect-product-item img {
    max-width: 90px !important;
    max-height: 90px !important;
}

.m-modal-mine-shop-all {
    background: #e8e8e8;
}

.m-collect-shop-list-container .list .item {
    margin: 5px;
    display: flex;
    display: -webkit-flex;
    -webkit-align-content:center;
    -webkit-flex-wrap: wrap;
    align-content:center;
    flex-wrap: wrap;
}

.m-header-buttons {
    margin: 0 5px;
}


.m-header-buttons .button {
    border-color: #fff;
}

.m-header-buttons .button.active {
    background-color: #fff;
    border-color: #fff;
    color: #ffb401;
}

.m-collect-list-item-amount, .m-collect-list-item-name {
    padding-left: 10px;
}

.m-collect-product-list-item-controls {
    text-align: right;
}


.has-sub-head {
    position: relative;
    top: 44px;
}


/* empty content */
.m-common-empty-container {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 50px;
    background-size: 42%;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.m-collect-empty-product {
    background: url('../img/empty/collect-product-empty.png') no-repeat  fixed 50% 35%;
    background-size: 42%;
}

.m-collect-empty-shop {
    background: url('../img/empty/collect-shop-empty.png') no-repeat  fixed 50% 35% ;
    background-size: 42%;
}

.m-common-empty-text {
    color: #888;
    display: table-cell;
    vertical-align: middle;
}

.m-common-empty-word {
    display: block;
}

.my-footprint-empty {
    background: url('../img/empty/footprint-empty.png') no-repeat  fixed 50% 35% ;
    background-size: 42%;
}

.platform-android {
    background-position: 50% 22% !important;
}

/* shop detail */
.m-modal-shop-detail-view .item-input-inset {
    background-color: transparent;
}

.m-modal-shop-detail-view .item-input-inset .button.button-clear {
    min-width: 30px;
}

.m-modal-shop-detail-view .item-input-inset, .m-modal-shop-detail-view .bar-energized {
    padding: 0;
}

.m-modal-shop-detail-view .m-modal-shop-detail-view-cart {
    position: relative;
    right: 3px;
    top: 2px;
}

.m-modal-mine-shop-banner {
    position: relative;
    background: url('../img/common/shop-banner.png') no-repeat;
    background-size: 100% 100%;
    height: 110px;
    color: #fff;
    transition:height 0.3s;
    -webkit-transition: height 0.3s;
    overflow: hidden;
}

.hide-slow {
    height: 0!important;
    transition:height 0.3s;
    -webkit-transition: height 0.3s;
}

.m-modal-mine-shop-banner .m-modal-mine-shop-banner-img {
    width: 100%;
}

.m-modal-mine-shop-banner-info {
    height: 65px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.m-modal-mine-shop-banner-info .m-button-favorite {
    float: right;
    top: 8px;
    right: 10px;
    font-size: 14px;
    min-height: 40px;
    line-height: 40px;
}

.m-modal-mine-shop-banner-info .col {
    -webkit-align-content:center;
    -webkit-flex-wrap: wrap;
    align-content:center;
    flex-wrap: wrap;
}

.m-modal-mine-shop-banner-brand {
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    width: 80px;
    max-height: 50px;
    position: relative;
    top: 6px;
    font-size: 12px;
}

.m-modal-mine-shop-banner-name {
    height: 100%;
}

.m-modal-mine-shop-banner-text {
    display: inline-block;
    width: 50%;
    text-overflow: ellipsis;
}

.m-modal-mine-shop-banner-text-head, .m-modal-mine-shop-banner-text-grade {
    color: #fff;
    margin: 0;
    width: 120%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.m-modal-mine-shop-detail-content { background: #e8e8e8; }

.m-modal-shop-detail-view .m-cat-options-bar {top: 86px;}

.m-modal-mine-shop-detail-content .m-filter-tabs .m-filter-item.active { color: #ffb401; }

.m-filter-tabs.active-products {
    border-bottom: 1px solid #eee;
    position: relative;
    z-index: 30;
}

.active-products .m-filter-item { border-bottom: 0 }

.m-modal-mine-shop-index-adv {
    width: 100%;
    background-color: #eee;
    padding: 5px;
}

.m-modal-mine-shop-index-adv img {
    width: 100%;
}

.m-modal-mine-shop-index-intro-title {
    background: url('../img/common/title-bg.png');
    background-size: 100%;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.m-modal-mine-shop-index-intro .title-bg {
    width: 100%;
}

.shop-detail-search {
    top: 45px;
}

.move-right {
    padding-left: 100px !important;
}

.m-shop-menu-category ion-content {
    top: 129px;
}

.m-shop-detail-back-to-top.m-back-to-top-area.activated {
    bottom: 20px;
}

.m-shop-screener .scroll {
    padding-bottom: 44px;
}

@media screen and (min-width: 370px) {
    .m-header-buttons {
        margin: 0 5px;
    }
    .m-modal-mine-shop-banner {
        height: 130px;
    }

    .m-modal-mine-shop-banner-brand {
        width: 100px;
    }

}

@media screen and (max-width: 330px) {
    .m-modal-mine-shop-banner-text .m-modal-mine-shop-banner-text-head, .m-modal-mine-shop-banner-text .m-modal-mine-shop-banner-text-grade {
        font-size: 1em !important;
    }
}

.platform-ios.platform-cordova .m-modal-shop-detail-view .m-cat-options-bar {
    top: 106px;
}
