.m-mine-orders {
  background-color: #e8e8e8;
  top: 85px;

  /*animation part*/
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.m-mine-orders.downing {
  top: 42px;
}

.platform-ios.platform-cordova .has-header.m-mine-orders {
  top: 105px;
}

.platform-ios.platform-cordova .has-header.m-mine-orders.downing {
  top: 63px;
}

.m-mine-orders.has-tabs {
  bottom: 0;
}

/*filters anim*/
.m-mine-orders-filters {
  top: 63px;
}

.m-mine-orders-filters.downing {
  top: 0;
}

.platform-ios.platform-cordova .m-mine-orders-filters {
  top: 63px;
}

.platform-ios.platform-cordova .m-mine-orders-filters.downing {
  top: 20px;
}

.m-mine-orders-filters {
  top: 43px;
  position: relative;

  /*animation part*/
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.m-order-list-container {

}

.m-order-list {
  position: relative;
  bottom: 10px;
}

.m-order-list-item {
  margin: 10px 0;
  background-color: #fff;
}

.m-order-item-status {
  text-align: right;
}

.m-order-item-title.row {
  padding: 5px 5px 0 5px;
  border-bottom: 2px solid #8e8e8e;
}

.m-order-suborder-title {
  padding: 5px 10px;
}

.m-order-suborder-item-right {
  position: absolute;
  right: 10px;
  top: 9px;
}

.m-order-suborder-item-right .m-order-suborder-item-unit {
  text-align: right;
}

.m-order-item-summary {
  text-align: right;
  border-bottom: 1px solid #e8e8e8;
}

.m-order-item-summary .m-order-item-total-amount {
  text-align: left;
}

.m-order-item-summary .row {
  padding: 5px;
}

.m-order-item-ops {
  text-align: right;
  padding: 10px;
}

/*order detail modal view*/
.m-order-detail-banner img {
  width: 100%;
}

.m-order-detail-address {
  border-bottom: 3px solid #e8e8e8;
}

.m-order-detail-address-icon, .m-order-detail-address-receipt-btn {
  padding: 4% 2%
}

.m-order-detail-address-icon img {
  width: 100%;
}

.m-order-detail-address-row1 {
  padding-bottom: 5px;
}
