.m-mine-orders {
  background-color: #e8e8e8;
  top: 85px;

  /*animation part*/
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.m-mine-orders.downing {
  top: 42px;
}

.platform-ios.platform-cordova .has-header.m-mine-orders {
  top: 105px;
}

.platform-ios.platform-cordova .has-header.m-mine-orders.downing {
  top: 63px;
}

.m-mine-orders.has-tabs {
  bottom: 0;
}

/*filters anim*/
.m-mine-orders-filters {
  top: 43px;
  position: relative;

  /*animation part*/
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.m-mine-orders-filters.downing {
  top: 0;
}

.platform-ios.platform-cordova .m-mine-orders-filters {
  top: 63px;
}

.platform-ios.platform-cordova .m-mine-orders-filters.downing {
  top: 20px;
}

.m-order-list-container {

}

.m-order-list {
  position: relative;
  bottom: 10px;
}

.m-order-list-item {
  margin: 10px 0;
  background-color: #fff;
}

.m-order-item-status {
  text-align: right;
}

.m-order-item-title.row {
  padding: 5px 5px 0 5px;
  border-bottom: 2px solid #8e8e8e;
}

.m-order-list-suborder {
  margin: 6px 0;
}

.m-order-suborder-title {
  background-color: #fff;
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
}

.item.m-order-suborder-check {
  border: none;
  padding: 16px 0 16px 16px;
  width: 2.2rem;
  right: 0.3rem;
}

.item.m-order-suborder-check .checkbox {
  left: -0.4rem;
}

.m-order-suborder-title-reserve {
  width: 2.0rem;
  margin-left: 0.6rem;
}

.m-order-suborder-title-status {
  margin-left: auto;
}

.m-order-suborder-item-right {
  position: absolute;
  right: 10px;
  top: 9px;
}

.m-order-suborder-item-check {
  position: absolute;
  height: 100%;
  border: none;
  padding: 16px 0 16px 16px;
  width: 100%;
  right: 0.5rem;
}

.m-order-suborder-item-container, .m-order-suborder-item-list {
  position: relative;
  top: 1px;
}

.m-order-suborder-item {
  position: relative;
  bottom: 1px;
}

.m-order-suborder-item-container.is-cart-mode .item-thumbnail-left, .item-thumbnail-left .item-content {
  margin-left: 2.8rem;
  border: none;
}

.m-order-suborder-item-right .m-order-suborder-item-unit {
  text-align: right;
}

.m-order-suborder-more {
  text-align: center;
  background-color: #e8e8e8;
}

.m-order-suborder-editing {
  margin-top: 10%;
}

.m-order-item-summary {
  text-align: right;
  border-bottom: 1px solid #e8e8e8;
}

.m-order-item-summary .m-order-item-total-amount {
  text-align: left;
}

.m-order-item-summary .row {
  padding: 5px;
}

.m-order-item-ops {
  text-align: right;
  padding: 10px;
}

/*order detail modal view*/
.m-order-detail-banner img {
  width: 100%;
}

.m-modal-order-detail-id {
  padding: 10px;
  border-bottom: 3px solid #e8e8e8;
}

.m-modal-order-detail-id-text {
  float: right;
}

.m-order-detail-address {
  border-bottom: 3px solid #e8e8e8;
}

.m-order-detail-address-icon, .m-order-detail-address-receipt-btn {
  padding: 4% 2%
}

.m-order-detail-address-icon img {
  width: 100%;
}

.m-order-detail-address-row1 {
  padding-bottom: 5px;
}

/*order detail money area*/
.m-order-detail-money-container {
  padding: 10px 0;
  border-bottom: 3px solid #e8e8e8;
}

.m-order-detail-money-container.hidden {
  display: none;
}

.m-order-detail-money-container span {
  float: right;
}

.m-order-detail-money-actual span,
.m-order-detail-money-payback span {
  font-weight: bold;
  color: red;
}

.m-order-detail-money-container div {
  padding: 0 10px;
}

.m-order-detail-money-container div.m-order-detail-money-shipment,
.m-order-detail-money-container div.m-order-detail-money-coupon {
  padding-left: 20px;
}

/*order detail time area*/
.m-order-detail-time-container {
  padding: 10px 0;
  border-bottom: 3px solid #e8e8e8;
}

.m-order-detail-time-container.hidden {
  display: none;
}

.m-order-detail-time-container div {
  padding: 0 10px;
}

.m-order-detail-time-container span {
  float: right;
}

/*order detail service area*/
.m-order-detail-service-container {
  padding: 10px 0;
  border-bottom: 3px solid #e8e8e8;
}

.m-order-detail-service-container.hidden {
  display: none;
}

.m-order-detail-service-container span {
  float: right;
}

.m-order-detail-service-container div.m-order-detail-service-reason,
.m-order-detail-service-container div.m-order-detail-service-detail,
.m-order-detail-service-container div.m-order-detail-service-detail-text,
.m-order-detail-service-container div.m-order-detail-service-photos {
  padding: 0 10px;
}

/*customize back to top area*/
.m-mine-orders-back-to-top.m-back-to-top-area.activated {
  bottom: 20px;
}

/*generate order modal*/
.m-gen-order-summary {
  position: fixed;
  bottom: 0;
  height: 46px;
}

.row-no-padding > .col.m-gen-order-total-amount {
  text-align: right;
  padding-right: 0.6rem;
  justify-content: flex-end;
  background-color: #fff;
}

.m-gen-order-total-amount-text {
  color: #ff0000;
}

.m-gen-order-btn {
  color: #fff;
}

.m-modal-gen-order .ion-chevron-right {
    font-size: 16px;
    color: #aaa;
}

.list.m-modal-gen-order-list {
  margin-bottom: 0;
}
