/* Empty. Add your own CSS if you like */
.badge.m-badge {
    padding: 1px 5px;
    border-radius: 10px;
    right: 1px;
    top: -3px;
    float: right;
    position: absolute;
    min-width: 6px;
}

.m-btn-geo {
    margin-right: 10px;
    position: relative;
    right: 4px;
}

.m-slides-container {
    background-color: #fff;
    padding-top: 0.2rem;
}

.m-slide-container {
    text-align: center;
}

.m-slide-image {
    max-width: 100%;
}

.row.m-no-padding {
    padding: 0;
}

.col.m-no-padding {
    padding: 0;
}

.m-sales-area {
    position: relative;
    bottom: 2px;
}

.m-row-small-padding {
    padding: 2px;
}

.m-padding-lr {
    padding: 0 1px;
}

/*tabs hidden animation*/
.tabs-bottom.m-tabs > .tabs {
    /*animation part*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tabs-bottom.m-tabs.hidden > .tabs {
    /*display: none;*/
    bottom: -50px;
}

/*common colors*/
.m-color-theme-fg {
    color: #ffb401;
}

.m-color-theme-bg {
    background-color: #ffb401;
}

/*commons*/
.bar button.button-clear .icon.m-common-back:before, .bar button.button-clear .icon.m-header-icon:before {
    font-size: 20px;
}

/*home view*/
.m-home-content {
    background-color: #f7f7f7;
}

.m-home-nofitication {
    position: relative;
    top: 4px;
    left: 12px;
}

/*mine view*/
.m-mine-body {
    background-color: #f7f7f7;
}

/*my pinfo area start*/
.m-mine-notification {
    position: relative;
    top: 4px;
    left: 8px;
}

.m-mine-pinfo {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 124px;
    background-image: url('../img/mine/avatar-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.m-mine-phone {
    font-size: 14px;
}

.m-mine-pinfo-link {
    font-size: 0.8rem;
}

.m-mine-pinfo-link.m-mine-pinfo-link-address {
    font-size: 0.7rem;
}

.button-clear.button-clear.m-mine-pinfo-login-link {
    color: #fff;
    font-size: 1.2rem;
}

@media screen and (max-width: 350px) {
    .button-clear.button-clear.m-mine-pinfo-login-link {
        font-size: 1.0rem;
        bottom: 12px;
    }
}

.row-no-padding .col.m-mine-avatar {
    padding: 20px;
}

.m-mine-avatar img {
    width: 100%;
    position: relative;
    bottom: 0.2rem;
    border-radius: 4.0rem;
}

@media screen and (min-width: 400px) {
    .m-mine-avatar img {
        bottom: 0.4rem;
    }
}

.button-small.button-clear.m-mine-pinfo-link {
    color: white;
}

.row-no-padding .col .m-mine-detail {
    padding: 32px 0;
    position: relative;
}

.row-no-padding .col .m-mine-detail.m-mine-detail-login {
    padding: 50px 0;
}

.m-mine-address {
    position: relative;
}

.m-mine-address .m-mine-pinfo-link {
    position: absolute;
    bottom: 16px;
}

.m-mine-phone {
    padding: 0 6px;
}

@media screen and (min-width: 350px) {
    .m-mine-phone, .m-mine-pinfo-link {
        font-size: 16px;
    }

    .row-no-padding .col .m-mine-detail {
        padding: 42px 0;
    }
}

/*my pinfo area end*/

/*my order area start*/
.m-mine-order {
    height: 128px;
    background-color: white;
}

.m-mine-order-title {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.m-mine-order-hint, .m-mine-order-all {
    font-weight: bold;
    position: relative;
    top: 15px;
}

.m-mine-order-hint {
    font-size: 18px;
    padding: 15px;
}

.m-mine-order-all {
    float: right;
    padding-right: 15px;
    font-size: 12px;
    color: #aaa;
}

.m-mine-order-center {
    text-align: center;
}

.m-mine-order-center .col {
    position: relative;
}

.m-mine-order-icon {
    height: 28px;
    display: block;
    margin: 0 auto;
}

.m-mine-order-type {
    margin-top: 4px;
    display: inline-block;
}
/*my order area end*/

/*my item area start*/
.m-mine-order-myitems {
    margin: 12px 0;
}

.m-mine-item-area {
    text-align: center;
    background-color: white;
    padding-bottom: 8px;
}

.m-mine-item-area.m-mine-item-area-border {
    border-right: 1px solid #e8e8e8;
}

.m-mine-item-icon {
    width: 80px;
    padding: 10px 20px 0 20px;
    display: inline-block;
}

.m-mine-item-title {
    display: inline-block;
}

.m-mine-item-subtitle {
    display: block;
}

.m-mine-item-placeholder {
    visibility: hidden;
}

.m-mine-order-myitems-space {
    height: 2px;
}
/*my item area end*/

/*recommend area start*/
.m-mine-recommend-items {
    margin-top: 1px;
    width: 100%;
}

.m-mine-recommend {

}

.m-mine-recommend-title {
    height: 50px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.m-mine-recommend-hint, .m-mine-recommend-all {
    font-weight: bold;
    position: relative;
    top: 15px;
}

.m-mine-recommend-hint {
    font-size: 18px;
    padding: 15px;
}

.m-mine-recommend-all {
    float: right;
    padding-right: 15px;
    font-size: 12px;
    color: #aaa;
}
/*recommend area end*/

/*network related*/
.m-no-network {
    text-align: center;
    padding-top: 45%;
}

.m-no-network .m-no-network-sign i {
    font-size: 6rem;
}

.m-no-network .m-no-network-sign .m-no-network-sign-text {
    font-size: 1.2rem;
    padding-bottom: 5%;
}

/* preferred brand modal view */


.m-brand-item {
    margin-bottom: 0px;
}

.m-brand-item img {
    width: 100%;
}

.m-new-item-container .list .item {
    margin: 0 0 5px 0 !important;
}

/*notification center*/
.m-notification-center.has-tabs {
    bottom: 0;
}
