/* Empty. Add your own CSS if you like */
.badge.m-badge {
    padding: 1px 5px;
    border-radius: 10px;
    right: 1px;
    top: -3px;
    float: right;
    position: absolute;
}

.m-btn-geo {
    margin-right: 10px;
}

.m-slide-image {
    height: 180px;
    width: 100%;
}

.row.m-no-padding {
    padding: 0;
}

.col.m-no-padding {
    padding: 0;
}

.m-sales-area {
    position: relative;
    bottom: 2px;
}

.m-row-small-padding {
    padding: 2px;
}

.m-padding-lr {
    padding: 0 1px;
}

/*home view*/
.m-home-content {
    background-color: #f7f7f7;
}

.m-home-nofitication {
    position: relative;
    top: 4px;
    left: 9px;
}

/*mine view*/
.m-mine-body {
    background-color: #f7f7f7;
}

/*my pinfo area start*/
.m-mine-notification {
    position: relative;
    top: 4px;
    left: 10px;
}

.m-mine-pinfo {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 124px;
    background-image: url('../img/mine/avatar-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.row-no-padding .col.m-mine-avatar {
    padding: 20px;
}

.m-mine-avatar img {
    width: 100%;
}

.button-small.button-clear.m-mine-pinfo-link {
    color: white;
    font-size: 16px;
}

.row-no-padding .col .m-mine-detail {
    padding: 42px 0;
    position: relative;
    right: 16px;
}

.row-no-padding .col .m-mine-detail.m-mine-detail-login {
    padding: 50px 0;
}

.m-mine-address {
    position: relative;
}

.m-mine-address .m-mine-pinfo-link {
    position: absolute;
    bottom: 16px;
}

.m-mine-phone {
    padding: 0 6px;
    font-size: 16px;
}
/*my pinfo area end*/

/*my order area start*/
.m-mine-order {
    height: 140px;
    background-color: white;
}

.m-mine-order-title {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.m-mine-order-hint, .m-mine-order-all {
    font-weight: bold;
    position: relative;
    top: 15px;
}

.m-mine-order-hint {
    font-size: 18px;
    padding: 15px;
}

.m-mine-order-all {
    float: right;
    padding-right: 15px;
    font-size: 12px;
    color: #aaa;
}

.m-mine-order-center {
    text-align: center;
}

.m-mine-order-icon {
    height: 42px;
}

.m-mine-order-type {

}
/*my order area end*/

/*my item area start*/
.m-mine-order-myitems {
    margin: 12px 0;
}

.m-mine-item-area {
    text-align: center;
    background-color: white;
    padding-bottom: 8px;
}

.m-mine-item-area.m-mine-item-area-border {
    border-right: 1px solid #e8e8e8;
}

.m-mine-item-icon {
    width: 100%;
    padding: 10px 20px 0 20px;
}

.m-mine-item-title {

}

.m-mine-item-subtitle {

}

.m-mine-item-placeholder {
    visibility: hidden;
}

.m-mine-order-myitems-space {
    height: 2px;
}
/*my item area end*/

/*recommend area start*/
.m-mine-recommend-items {
    margin-top: 1px;
    width: 100%;
}

.m-mine-recommend {

}

.m-mine-recommend-title {
    height: 50px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.m-mine-recommend-hint, .m-mine-recommend-all {
    font-weight: bold;
    position: relative;
    top: 15px;
}

.m-mine-recommend-hint {
    font-size: 18px;
    padding: 15px;
}

.m-mine-recommend-all {
    float: right;
    padding-right: 15px;
    font-size: 12px;
    color: #aaa;
}
/*recommend area end*/
